/* admin.css */

html
{
    min-width: 800px;
}

body
{
    padding-bottom: 100px;
}

body > section
{
    overflow: hidden; /* expand to contain floated child (vertical nav menu) */
    width: 900px;
    margin: 20px auto;
}

body > section > nav
{
    float: left;
    margin-right: 2.0em;
}

body > section > nav + *
{
    overflow: hidden; /* don't wrap underneath the floated nav menu */
}

a
{
    color: #0085cf;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

input[type="text"],
textarea
{
    display: block;
    width: 100%;
    padding: 4px;
    border: 1px solid LightGray;
}

input[type="text"]:disabled
{
    border-color: transparent;
    color: #505050;
}

fieldset
{
    border: none;
}

fieldset section.control
{
    overflow: hidden; /* force rounded corners to clip content */
    border: 1px solid #eeeae6; /* ever so slightly brown */
    border-radius: 5px;
}

fieldset section.control > header
{
    padding: 2px 10px 4px;
    background-color: #f8f7f6; /* ever so slightly brown */
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

fieldset section.control > input[type="file"],
fieldset section.control > input[type="text"],
fieldset section.control > textarea
{
    border: none;
    padding: 4px 10px;
}

main
{
    display: block; /* remove when main is a supported element in all modern browsers */
}

main > h1
{
    text-align: center;
    margin-bottom: 1.0em;
}

main > h2
{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

nav.menu-column
{
    max-width: 200px;
    text-align: center;
}

nav.menu-column > ul
{
    list-style-type: none;
}

nav.menu-column > ul > li
{
    margin-bottom: 0.5em;
}

section.header-metadata-description
{
    margin-top: 30px;
}

section.header-metadata-description > div.metadata
{
    border-top: 1px solid #eee;
    margin: 5px 0px 20px;
    font-size: 0.7em;
}

section.header-metadata-description > div.metadata > *
{
    display: inline-block;
    margin: 5px 10px;
    vertical-align: top;
}

section.header-metadata-description > div.metadata h6
{
    margin-bottom: 1px;
    color: #9f9f9f;
    font-size: 1em;
    font-weight: normal;
}

section.header-metadata-description > div.description
{
    width: 400px;
    margin: 0px 50px;
    font-size: 0.8em;
}

/**
 * A `document-list` table is used when you have a list of documents each
 * of which has an edit link in the first column. It has one header row.
 */

table.document-list
{
    width: 700px;
    margin-bottom: 50px;
    border-spacing: 0px;
    table-layout: fixed;
}

table.document-list thead th
{
    border-bottom: 1px solid #efefef;
}

table.document-list td,
table.document-list th
{
    padding: 2px 5px;
    overflow: hidden; /* Necessary for ellipsis style. */
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.document-list td
{
    vertical-align: top;
}

table.document-list tbody tr:nth-child(even)
{
    background-color: #f7f7f7;
}

table.document-list tr *:nth-child(1)
{
    width: 40px;
    text-align: center;
}

table.document-list tr *:nth-child(2)
{
}

table.document-list tr *:nth-child(3)
{
    width: 175px;
    font-size: 0.8em;
}

/**
 * A `simple-key-value` table is intended to have two columns. The left column
 * contains keys in `th` elements and the right column contains values in `td`
 * elements.
 */

table.simple-keys-and-values
{
    border-spacing: 0px;
    table-layout: fixed;
}

table.simple-keys-and-values td,
table.simple-keys-and-values th
{
    padding: 0.3em 0.5em;
}

table.simple-keys-and-values th
{
    color: #7f7f7f;
    font-weight: normal;
    text-align: right;
}

/**
 * This used to be the default style for all tables before I realized that a
 * default style for all tables was a really bad idea if you ever wanted to
 * have a table without that style. I kept it around under the class `rename`
 * in case it would prove useful. If it is not, remove it.
 */

table.rename
{
    margin: 1.0em 0.0em 3.0em;
    border: 1px solid #ddddff;
}

table.rename td,
table.rename th
{
    padding: 5px 10px;
    overflow: hidden; /* wrapping behavior */
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.rename th
{
    background-color: #eeeeff;
}

table.rename table tr:nth-child(even)
{
    background-color: #f8f8ff;
}

.hash
{
    font-family: Menlo, monospace;
}

.invalid
{
    background-color: #ffdfdf;
}

.now-updating
{
    background-color: Snow;
}

.needs-update
{
    background-color: LightYellow;
}
