/* admin.css */

html
{
    min-width: 800px;
}

body
{
    padding-bottom: 100px;
}

body .page
{
    overflow: hidden; /* expand to contain floated child (vertical nav menu) */
    margin: 20px auto;
}

body .page > .vertical-menu
{
    float: left;
    margin-right: 2.0em;
}

body .page > .content
{
    overflow: hidden; /* don't wrap underneath the floated nav menu */
}

a
{
    color: #0085cf;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

fieldset
{
    border: none;
}

fieldset section.control
{
    overflow: hidden; /* force rounded corners to clip content */
    border: 1px solid #eeeae6; /* ever so slightly brown */
    border-radius: 5px;
}

fieldset section.control > header
{
    padding: 2px 10px 4px;
    background-color: #f8f7f6; /* ever so slightly brown */
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

fieldset section.control > input[type="file"],
fieldset section.control > input[type="text"],
fieldset section.control > textarea
{
    display: block;
    width: 100%;
    border: none;
    padding: 4px 10px;
}

fieldset section.control > input[type="file"]:disabled,
fieldset section.control > input[type="text"]:disabled,
fieldset section.control > textarea:disabled
{
    color: #5f5f5f;
}

main
{
    display: block; /* remove when main is a supported element in all modern browsers */
}

main > h1,
main > header
{
    margin-bottom: 2.0em;
    text-align: center;
}

main > header > h1
{
    font-size: 1.2em;
}

main > header > h2
{
    margin-top: 0.5em;
    font-size: 1.0em;
    font-weight: 600;
}

main > h2
{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

/**
 * Micro styles
 */

table.standard-admin-spacing
{
    border-spacing: 0px;
}

table.standard-admin-spacing td,
table.standard-admin-spacing th
{
    padding: 2px 5px;
}

table.standard-admin-row-colors tr:nth-child(even),
table .standard-admin-row-colors tr:nth-child(even)
{
    background-color: #f7f7f7;
}

table.standard-cell-ellipses
{
    table-layout: fixed;
    width: 100%;
}

table.standard-cell-ellipses td,
table.standard-cell-ellipses tr
{
    overflow: hidden; /* wrapping behavior */
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * Colby standard styles
 */

.fixed-page-width
{
    width: 980px;
}

a.small-button
{
    display: inline-block;
    background-color:#cfcfff;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-shadow: 0px 1px 0px #efefff;
    user-select: none;
}

a.small-button:hover
{
    background-color:#bfbfff;
    text-decoration: none;
}

a.small-button
{
    padding: 1px 6px 3px;
    border-radius: 20px;
}

/**
 * Menus
 */

nav ul > li.selected a
{
    color: #3f3f3f;
}

/**
 * Vertical menus
 */

nav.vertical-menu
{
    max-width: 200px;
    text-align: center;
}

nav.vertical-menu > ul
{
    list-style-type: none;
}

nav.vertical-menu > ul > li
{
    margin-bottom: 0.5em;
}

nav.vertical-menu h1
{
    font-size: 1.1em;
}

/**
 *
 */

section.header-metadata-description
{
    margin-top: 30px;
}

section.header-metadata-description > div.metadata
{
    border-top: 1px solid #eee;
    margin: 5px 0px 20px;
    font-size: 0.7em;
}

section.header-metadata-description > div.metadata > *
{
    display: inline-block;
    margin: 5px 10px;
    vertical-align: top;
}

section.header-metadata-description > div.metadata h6
{
    margin-bottom: 1px;
    color: #9f9f9f;
    font-size: 1em;
    font-weight: normal;
}

section.header-metadata-description > div.description
{
    width: 400px;
    margin: 0px 50px;
    font-size: 0.8em;
}


/**
 * A `simple-keys-and-values` section displays a list of keys and values
 * in a more compact from than a `simple-keys-and-values` table.
 */

section.simple-keys-and-values dl
{
    display: inline-block;
    margin: 15px 20px;
    vertical-align: top;
}

section.simple-keys-and-values dl dt
{
    font-weight: bold;
}

section.simple-keys-and-values dl dd .hash
{
    font-size: 60%;
}


/**
 * A `document-list` table is used when you have a list of documents each
 * of which has an edit link in the first column. It has one header row.
 */

table.document-list
{
    width: 700px;
    margin-bottom: 50px;
    border-spacing: 0px;
    table-layout: fixed;
}

table.document-list thead th
{
    border-bottom: 1px solid #efefef;
}

table.document-list td,
table.document-list th
{
    padding: 2px 5px;
    overflow: hidden; /* Necessary for ellipsis style. */
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.document-list td
{
    vertical-align: top;
}

table.document-list tbody tr:nth-child(even)
{
    background-color: #f7f7f7;
}

table.document-list tr *:nth-child(1)
{
    width: 40px;
    text-align: center;
}

table.document-list tr *:nth-child(2)
{
}

table.document-list tr *:nth-child(3)
{
    width: 175px;
    font-size: 0.8em;
}

/**
 * table.formatted-for-admin
 */

table.formatted-for-admin
{
    border-spacing: 0px;
    table-layout: fixed;
}

table.formatted-for-admin tbody tr:last-child td,
table.formatted-for-admin tbody tr:last-child th
{
    padding-bottom: 5px;
}

table.formatted-for-admin td,
table.formatted-for-admin th
{
    padding: 2px 5px;
}

table.formatted-for-admin td.right,
table.formatted-for-admin th.right
{
    text-align: right;
}

table.formatted-for-admin tr.border-top td,
table.formatted-for-admin tr.border-top th
{
    padding-top: 5px;
    border-top: 1px solid #bfbfbf;
}

/**
 * A `simple-key-value` table is intended to have two columns. The left column
 * contains keys in `th` elements and the right column contains values in `td`
 * elements.
 */

table.simple-keys-and-values
{
    border-spacing: 0px;
    table-layout: fixed;
}

table.simple-keys-and-values td,
table.simple-keys-and-values th
{
    padding: 0.3em 0.5em;
}

table.simple-keys-and-values th
{
    color: #7f7f7f;
    font-weight: normal;
    text-align: right;
}


/**
 * A `check-list` is used for tables that have two columns (upgradable to more)
 * where the first column is a datum (such as a user name) and the next column
 * contains a checkbox that refers to an attribute for that datum (such as
 * whether the user has a specific authorization).
 */
table.check-list
{
    max-width: 700px;
    margin-bottom: 50px;
    border-spacing: 0px;
    table-layout: fixed;
}

table.check-list thead th
{
    border-bottom: 1px solid #efefef;
}

table.check-list td,
table.check-list th
{
    padding: 2px 5px 3px;
    overflow: hidden; /* Necessary for ellipsis style. */
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.check-list tbody tr:nth-child(even)
{
    background-color: #f7f7f7;
}

table.check-list tr *:nth-child(1)
{
}

table.check-list tr *:nth-child(2)
{
    text-align: center;
}


/**
 * This used to be the default style for all tables before I realized that a
 * default style for all tables was a really bad idea if you ever wanted to
 * have a table without that style. I kept it around under the class `rename`
 * in case it would prove useful. If it is not, remove it.
 */

table.rename
{
    margin: 1.0em 0.0em 3.0em;
    border: 1px solid #ddddff;
}

table.rename td,
table.rename th
{
    padding: 5px 10px;
    overflow: hidden; /* wrapping behavior */
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.rename th
{
    background-color: #eeeeff;
}

table.rename table tr:nth-child(even)
{
    background-color: #f8f8ff;
}

.hash
{
    font-family: Menlo, monospace;
}

.invalid
{
    background-color: #ffdfdf;
}

.now-updating
{
    background-color: Snow;
}

.needs-update
{
    background-color: LightYellow;
}
