.CBUIRoot {
    background-color: hsl(0, 0%, 90%);
    flex: 1 0 auto;
}

.CBUIRoot + .flex-fill {
    display: none;
}

.CBUIHalfSpace {
    height: 22px;
}

.CBUISection {
    border-color: hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 1px 0;
    margin: 0 auto;
    max-width: 640px;
    overflow: hidden;
}

@media all and (min-width: 641px) {
    .CBUISection {
        border-radius: 10px;
        border-width: 1px;
    }
}

.CBUISectionItem {
    background-color: white;
    min-height: 44px;
}

.CBUISection > .CBUISectionItem + .CBUISectionItem {
    border-top: 1px solid hsl(0, 0%, 80%);
}
