/* shared.css */

html
{
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"]
{
    padding: 2px 6px 3px;
}

p /* TODO: should this be outside of formatted-content? */
{
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}
