/* shared.css */

html
{
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"]
{
    padding: 2px 6px 3px;
}

.formatted-content p
{
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}

.formatted-content :first-child
{
    margin-top: 0px;
}

.formatted-content :last-child
{
    margin-bottom: 0px;
}
