/* shared.css */

html
{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"]
{
    padding: 10px 30px;
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover
{
    border: 1px solid #bbbbbb;
}

.menubar
{
    padding: 5px 15px 7px;
    background-color: #333333;
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 600;
}

.menubar a
{
    color: #bbbbbb;
    text-decoration: none;
}

.menubar a.selected
{
    color: #ffff7f;
}

.menubar a:hover
{
    color: white;
}

.formatted-content p
{
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    text-align: justify;
    line-height: 1.6;
}

.formatted-content :first-child
{
    margin-top: 0px;
}

.formatted-content :last-child
{
    margin-bottom: 0px;
}
