.CBImageLinkView {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    overflow: hidden;
}

.CBImageLinkView_container {
    flex: none;
}

.CBImageLinkView img {
    display: block;
}
