.CB_UI_ListItem_root_element
{
    box-sizing:
    border-box;

    display:
    flex;

    justify-content:
    center;

    max-width:
    100%;

    overflow-wrap:
    break-word;

    padding:
    20px 10px;
}



.CB_UI_ListItem_content_element
{
    box-sizing:
    border-box;

    display:
    flex;

    flex:
    0 1 auto;

    max-width:
    100%;

    width:
    var(--CB_UI_readableWidth);
}



.CB_UI_ListItem_imageContainer_element
{
    flex:
    none;

    padding-right:
    10px;

    width:
    100px;
}



.CB_UI_ListItem_imageContainer_element
img
{
    border:
    1px solid var(--CB_UI_borderColor);

    box-sizing:
    border-box;
}



.CB_UI_ListItem_informationContainer_element
{
    flex:
    1 1 auto;

    min-width:
    0;
}



.CB_UI_ListItem_administrativeTitle_element
{
    color:
    var(--CBTextColor2);
}



.CB_UI_ListItem_CBID_element,
.CB_UI_ListItem_className_element
{
    color:
    var(--CBTextColor2);

    font-family:
    var(--CBMonospaceFontFamily);

    font-size:
    60%;
}



.CB_UI_ListItem_className_element
{
    padding:
    10px 0 5px;
}


.CB_UI_ListItem_CBID_element
{
    padding-bottom:
    10px;
}



.CB_UI_ListItem_root_element
a
{
    display:
    inline-block;

    font-size:
    80%;

    text-decoration:
    none;
}



.CB_UI_ListItem_inspect_element
{
    margin-left:
    20px;
}
