.CBUISelector {
    padding: 5px 10px;
    position: relative;
}

.CBUISelector .label {
    color: hsl(0, 0%, 50%);
}

.CBUISelector .arrow {
    align-items: center;
    color: hsl(0, 0%, 50%);
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
}

.CBUISelectorOption,
.CBUISelectorValueEditor .CBUISectionItem {
    cursor: pointer;
    padding: 5px 10px;
}

.CBUISelectorOption .description,
.CBUISelectorValueEditor .description {
    color: hsl(0, 0%, 50%);
}
