.CBUISelector {
    padding: 5px 10px;
    position: relative;
}

.CBUISelector .label {
    color: hsl(0, 0%, 50%);
}

.CBUISelector .arrow {
    align-items: center;
    color: hsl(0, 0%, 50%);
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
}

.CBUISelectorOption,
.CBUISelectorValueEditor .CBUISectionItem /* deprecated */ {
    cursor: pointer;
    padding: 5px 10px;
}

.CBUISelectorOption:hover {
    background-color: hsl(60, 100%, 95%);
}

.CBUISelectorOption .description,
.CBUISelectorValueEditor .description /* deprecated */ {
    color: hsl(0, 0%, 65%);
    font-size: 0.8em;
}
