.CBUISelector {
    box-sizing: border-box;
    display: flex;
    min-height: 44px;
}

.CBUISelector .content {
    flex: 1 1 auto;
    padding: 5px 10px;
}

.CBUISelector .label {
    color: var(--CBTextColor2);
}

.CBUISelector .arrow {
    align-items: center;
    color: var(--CBTextColor2);
    display: flex;
    flex: none;
    justify-content: center;
    width: 30px;
}

.CBUISelectorOption,
.CBUISelectorValueEditor .CBUISectionItem /* deprecated */ {
    cursor: pointer;
    padding: 5px 10px;
}

.CBUISelectorOption:hover {
    background-color: hsl(60, 100%, 95%);
}

.CBUISelectorOption .description,
.CBUISelectorValueEditor .description /* deprecated */ {
    color: hsl(0, 0%, 65%);
    font-size: 0.8em;
}
