.CBAdminPageForUserSettings_user {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.CBAdminPageForUserSettings_user img {
    display: block;
    height: 100px;
    object-fit: contain;
    object-position: center;
    width: 100px;
}
