.CBTasks2AdminPage .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.CBTasks2AdminPage .key {
    padding: 10px;
}

.CBTasks2AdminPage .key .ID {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--CBMonospaceFontFamily);
}

.CBTasks2AdminPage .status > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.CBTasks2AdminPage .status .textvalue {
    background-color: var(--CBBackgroundColor);
    border: 1px solid var(--CBTextColor3);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.CBTasks2AdminPage .status .textvalue .text {
    color: var(--CBTextColor2);
}

.CBTasks2AdminPage .status .textvalue > * {
    padding: 2px 5px;
    text-align: center;
}
