.CBAdminPageForModelsUI .menu {
    text-align: center;
}

.CBAdminPageForModelsUI .menu > * {
    margin: 0 5px;
}

.CBAdminPageForModelsUI h1 {
    padding:    20px 0;
    text-align: center;
}

.CBAdminPageForModelsUI table {
    margin:     0 auto;
    width:      960px;
}
