/**
 * @TODO 2022_03_08
 *
 *      This file currently works together with CBEqualizePageSettingsPart. See
 *      that file for more informaton.
 */


html
{
    /**
     * @NOTE 2022_10_15_1665843389
     *
     *      This rule set is for CB_UI variables that are NOT altered by themes.
     *      If something is alterable by themes all themes have to set it
     *      because themes can be changed on different elements and inherted
     *      values would cause a potential break in the theme.
     */

    --CB_UI_readableWidth:
    500px;
}



.CB_UI_theme_light,
.CBLightTheme
{
    --CB_UI_paperColor:
    hsl(0, 0%, 100%);

    /**
     * 2022_11_11_1668204828
     *
     *      This variable was officially accepted today as the color of a piece
     *      of "paper" on top of CB_UI_paperColor. There are only two levels
     *      available at this time.
     *
     * 2022_11_16_1668620864
     *
     *      I changed the lightness value to 98% from 99% after viewing the
     *      CBUIExpander control in light mode. 99% is so close to white that it
     *      was at the disturbing level even with the border. The value can just
     *      be slightly different, but it has to be different enough to be an
     *      obviously different color to the viewer. A difference that is too
     *      slight makes the viewer think something is going wrong with their
     *      eyes. Continue to adjust the value of this variable and add comments
     *      until we get it right.
     */

    --CB_UI_accentPaperColorGray:
    hsl(0, 0%, 98%);



    --CB_UI_borderColor:
    hsla(0, 0%, 0%, 0.05);

    --CB_UI_spotColor:
    hsl(210, 80%, 50%);

    --CB_UI_disabledSpotColor:
    hsl(210, 0%, 50%);



    /**
     * colors
     *
     *      The solid text colors below are colors that are the same color as
     *      text, but unlike text they are completely solid with no
     *      transparency. They can be used to draw charts and graphics and even
     *      text on charts, but shouldn't be used for actual text content.
    **/

    --CB_UI_color_solidRed:
    hsl(0, 80%, 50%);

    --CB_UI_color_solidOrange:
    hsl(30, 90%, 50%);

    --CB_UI_color_solidYellow:
    hsl(60, 95%, 50%);

    --CB_UI_color_solidGreen:
    hsl(120, 50%, 50%);

    --CB_UI_color_solidBlue:
    hsl(240, 50%, 50%);



    --CB_UI_color_solidText90:
    hsl(0, 0%, 10%);

    --CB_UI_color_solidText60:
    hsl(0, 0%, 40%);

    --CB_UI_color_solidText30:
    hsl(0, 0%, 70%);

    --CB_UI_color_solidText20:
    hsl(0, 0%, 80%);

    --CB_UI_color_solidText10:
    hsl(0, 0%, 90%);
}



@media screen
{
    /**
     * @NOTE 2022_10_15_1665842549
     *
     *      The dark theme is only applied to the screen to make printing
     *      cleaner.
     */

    .CB_UI_theme_dark,
    .CBDarkTheme
    {
        --CB_UI_paperColor:
        hsl(0, 0%, 12%);

        --CB_UI_accentPaperColorGray:
        hsl(0, 0%, 15%);

        --CB_UI_borderColor:
        hsla(0, 0%, 100%, 0.05);

        --CB_UI_spotColor:
        hsl(210, 80%, 50%);

        --CB_UI_disabledSpotColor:
        hsl(210, 0%, 50%);



        /**
         * colors
         *
         *      The solid text colors below are colors that are the same color
         *      as text, but unlike text they are completely solid with no
         *      transparency. They can be used to draw charts and graphics and
         *      even text on charts, but shouldn't be used for actual text
         *      content.
        **/

        --CB_UI_color_solidRed:
        hsl(0, 70%, 50%);

        --CB_UI_color_solidOrange:
        hsl(30, 70%, 50%);

        --CB_UI_color_solidYellow:
        hsl(60, 70%, 50%);

        --CB_UI_color_solidGreen:
        hsl(120, 50%, 40%);

        --CB_UI_color_solidBlue:
        hsl(240, 50%, 40%);




        /**
         * @NOTE 2022_11_12_1668273809
         *
         *      Since the paper color lightness is 12% solidText10 is 10% of
         *      the way from 12% to 100% which is 20.8%.
         */

        --CB_UI_color_solidText90:
        hsl(0, 0%, 91.2%);

        --CB_UI_color_solidText60:
        hsl(0, 0%, 64.8%);

        --CB_UI_color_solidText30:
        hsl(0, 0%, 38.4%);

        --CB_UI_color_solidText20:
        hsl(0, 0%, 29.6%);

        --CB_UI_color_solidText10:
        hsl(0, 0%, 20.8%);
    }
}



.CB_UI
{
    background-color:
    var(--CB_UI_paperColor);

    font-family:
    system-ui,
    sans-serif;
}
