/**
 * @TODO 2022_03_08
 *
 *      This file works together with CBEqualizePageSettingsPart. See that file
 *      for more informaton.
 */


html
{
    --CB_UI_paperColor:
    hsl(0, 0%, 100%);

    --CB_UI_borderColor:
    hsl(0, 0%, 94%);

    --CB_UI_spotColor:
    hsl(210, 80%, 50%);

    --CB_UI_disabledSpotColor:
    hsl(210, 0%, 50%);

    --CB_UI_readableWidth:
    500px;



    /* under development */

    --CB_UI_accentPaperColorGray:
    hsl(0, 0%, 97%);
}



@media screen
{
    html.CB_UI_browserPrefersDarkMode
    {
        --CB_UI_paperColor:
        hsl(0, 0%, 12%);

        --CB_UI_borderColor:
        hsl(0, 0%, 20%);



        /* under development */

        --CB_UI_accentPaperColorGray:
        hsl(0, 0%, 15%);
    }
}



.CB_UI
{
    background-color:
    var(--CB_UI_paperColor);

    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}
