main.CBAdminPageForUpdate {
    display: flex;
    flex-direction: column;
}

.CBAdminPageForUpdate .CBUIOutput {
    flex: 1 0 auto;
    height: 200px;
}

.CSULogEntry {
    padding: 5px 10px;
}

.CSULogEntry .description {
    color: hsl(0, 0%, 50%);
    font-size: 14px;
    padding: 0 10px;
}

.CSULogEntry .description.preformatted {
    font-family: monospace;
    white-space: pre;
}
