.CBViewPageInformationEditor .CBStringEditor > select {
    margin-left: 5px;
}

.CBViewPageInformationEditor .flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.CBViewPageInformationEditor .panel {
    background-color: white;
    border-color: hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 1px 0;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    width: 640px;
}

@media all and (min-width: 640px) {
    .CBViewPageInformationEditor .panel {
        border-radius: 10px;
        border-width: 1px;
    }
}

.CBViewPageInformationEditor .panel.thumbnail {
    align-items: center;
    display: flex;
    padding: 5px 10px;
}

.CBViewPageInformationEditor .CBImageEditorUploadButton button {
    background-color: transparent;
    border: none;
    color: hsl(210, 100%, 50%);
    font: inherit;
    padding: 0 10px;
}

.CBViewPageInformationEditor .panel.actions {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.CBViewPageInformationEditor .panel.actions > * {
    align-items: center;
    color: hsl(210, 100%, 50%);
    cursor: pointer;
    display: flex;
    height: 44px;
    padding: 0 10px;
    text-decoration: none;
}

.CBViewPageInformationEditor .CBStringEditor {
    align-items: center;
    display: flex;
    height: 44px;
}

.CBViewPageInformationEditor .CBStringEditor > select {
    margin-left: 5px;
}

.CBPageInformationPageListsEditor {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.CBPageInformationPageListsEditor > div {
    align-items: center;
    display: flex;
    height: 44px;
    padding: 0 10px;
}

.CBPageInformationPageListsEditor input[type=checkbox] {
    margin-right: 0.5em;
}
