.CBViewPageInformationEditor .CBStringEditor > select {
    margin-left: 5px;
}

.CBViewPageInformationEditor .flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.CBViewPageInformationEditor .thumbnail {
    align-items: center;
    display: flex;
    padding: 5px 10px;
}

.CBViewPageInformationEditor .CBImageEditorUploadButton button {
    background-color: transparent;
    border: none;
    color: hsl(210, 100%, 50%);
    font: inherit;
    padding: 0 10px;
}

.CBViewPageInformationEditor .actions,
.CBViewPageInformationEditor .pagelists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.CBViewPageInformationEditor .actions > *,
.CBViewPageInformationEditor .pagelists > * {
    align-items: center;
    display: flex;
    height: 44px;
    padding: 0 10px;
}

.CBViewPageInformationEditor .actions > * {
    color: hsl(210, 100%, 50%);
    cursor: pointer;
    text-decoration: none;
}

.CBViewPageInformationEditor .CBStringEditor {
    align-items: center;
    display: flex;
    height: 44px;
}

.CBViewPageInformationEditor .CBStringEditor > select {
    margin-left: 5px;
}

.CBViewPageInformationEditor .pagelists input[type=checkbox] {
    margin-right: 0.5em;
}
