/**
 * COLBY_BLOG_POSTS_DOCUMENT_GROUP_ID -> COLBY_BLOG_POST_DOCUMENT_TYPE_ID
 */

article aside
{
    width: 250px;
    margin-right: 25px;
    float: left;
    color: #888888;
    font-style: italic;
}

article figure img
{
    max-width: 250px;
}

article aside .pair
{
    margin-top: 50px;
    text-align: center;
}

article aside .pair .key
{
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

article .formatted-content
{
    overflow: hidden;
}
