.CB_CBView_AdSense_content {
    width: 200px;
}

.CB_CBView_AdSense_notProduction {
    background-color: hsl(240, 100%, 90%);
}

.CB_CBView_AdSense_notProduction .CB_CBView_AdSense_content {
    background-color: hsl(240, 100%, 80%);
}
