.CBPagesPreferencesEditor {
    font-size:  14px;
    padding:    5px 10px 10px;
    width:      480px;
}

.CBPagesPreferencesEditor h1 {
    text-align: center;
}

.CBPagesPreferencesEditor * + .CBStringEditor {
    margin-top: 10px;
}

.CBPagesPreferencesEditor textarea {
    display:    block;
    height:     100px;
    padding:    4px;
    width:      100%;
}
