.CBAdminPageForTasks .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.CBAdminPageForTasks .key {
    padding: 10px;
}

.CBAdminPageForTasks .key .ID {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--CBMonospaceFontFamily);
}

.CBAdminPageForTasks .output {
    padding: 10px;
}

.CBAdminPageForTasks .output > div {
    background-color: var(--CBBackgroundColor);
    border: 1px solid var(--CBLineColor);
    border-radius: 5px;
}

.CBAdminPageForTasks .output .toggle {
    color: var(--CBTextColor2);
    padding: 5px 10px 0;
    text-transform: uppercase;
}

.CBAdminPageForTasks .output .toggle::before {
    content: "More";
}

.CBAdminPageForTasks .output.expanded .toggle::before {
    content: "Less";
}

.CBAdminPageForTasks .output .message {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CBAdminPageForTasks .output.expanded .message {
    white-space: pre-line;
}

.CBAdminPageForTasks .output .details {
    display: none;
}

.CBAdminPageForTasks .output.expanded .details {
    display: block;
}

.CBAdminPageForTasks .output .details a {
    padding: 10px;
}

.CBAdminPageForTasks .output .details pre {
    color: var(--CBTextColor2);
    font-size: 80%;
    padding: 20px;
}

.CBAdminPageForTasks .output .flow {
    display: flex;
    flex-wrap: wrap;
}

.CBAdminPageForTasks .status > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.CBAdminPageForTasks .status .textvalue {
    background-color: var(--CBBackgroundColor);
    border: 1px solid var(--CBLineColor);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.CBAdminPageForTasks .status .textvalue .text {
    color: var(--CBTextColor2);
}

.CBAdminPageForTasks .status .textvalue > * {
    padding: 2px 5px;
    text-align: center;
}
