/**
 * Available modifying class names:
 *
 *      action
 *
 *          String 1 is the color of links and string 2 is lighter. Both strings
 *          are centered.
 *
 *      keyvalue
 *
 *          String 1 (the key) is lighter and string 2 (the value) is heavier.
 *
 *      CBUIStringsPart_leftandright
 *
 *          String 1 is on the left side and string 2 is on the right side.
 *          String 2 is right aligned. If the strings are long enough string 2
 *          will wrap under string 1. No part of either string will ever be
 *          truncated.
 *
 *          This is like a "lossless" style of "sidebyside".
 *
 *      sidebyside
 *
 *          String 1 is on the left edge and string 2 is on the right edge. The
 *          strings will never wrap and will be truncated if necessary.
 *
 *      titledescription
 *
 *          String 1 is the title and string 2 (the description) is lighter.
 *
 *
 *      CBUIStringsPart_titledescription_full
 *
 *          The same as titledescription except no text will be truncated.
 *
 *      disabled
 *
 *          Both strings are very light.
 *
 *      CBUIStringsPart_price
 *
 *          The part has a constant width appropriate for displaying a price and
 *          the text is right aligned.
 */

.CBUIStringsPart {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    min-height: 44px;
    padding: 5px 0;

    /* ellipsis */
    min-width: 0;
}

.CBUIStringsPart > .string1,
.CBUIStringsPart > .string2 {
    padding: 0 10px;
    transition: color 1s;
}

.CBUIStringsPart.keyvalue > .string1 {
    color: hsla(0, 0%, 0%, 0.6); /* IE11 */
    color: var(--CBTextColor2);
}

.CBUIStringsPart_leftandright {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.CBUIStringsPart_leftandright > .string2 {

    /**
     * A justify-content value of "space-between" will not work when the items
     * are wrapped. A margin-left of auto on string 2 will create the same
     * result when wrapped or not.
     */
    margin-left: auto;

    text-align: right;
}

.CBUIStringsPart.sidebyside {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.CBUIStringsPart.action > .string2,
.CBUIStringsPart.titledescription > .string2,
.CBUIStringsPart_titledescription_full > .string2 {
    color: hsla(0, 0%, 0%, 0.6); /* IE11 */
    color: var(--CBTextColor2);
    font-size: 80%;
}

.CBUIStringsPart.action {
    text-align: center;
}

.CBUIStringsPart.action > .string1 {
    color: hsla(210, 80%, 50%, 0.9); /* IE11 */
    color: var(--CBTextColorForLinks);
}

.CBUIStringsPart.disabled > * {
    color: hsla(0, 0%, 0%, 0.3) !important; /* IE11 */
    color: var(--CBTextColor3) !important;
}

.CBUIStringsPart_price {
    text-align: right;
    width: 120px;
    flex: none;
}

/* the key string in keyvalue is truncated */
.CBUIStringsPart.keyvalue > .string1,
/* both strings in sidebyside are truncated */
.CBUIStringsPart.sidebyside > *,
/* both strings in titledescription are truncated */
.CBUIStringsPart.titledescription > * {
    /* ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
