/**
 * Available modifying class names:
 *
 *      action
 *
 *          String 1 is the color of links and string 2 is lighter. Both strings
 *          are centered.
 *
 *      keyvalue
 *
 *          String 1 (the key) is lighter and string 2 (the value) is heavier.
 *
 *      sidebyside
 *
 *          String 1 is left justified and string 2 is right justified.
 *
 *      titledescription
 *
 *          String 1 is the title and string 2 (the description) is lighter.
 *
 *      disabled
 *
 *          Both strings are very light.
 */

.CBUIStringsPart {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    min-height: 44px;
    padding: 3px 0 5px;

    /* ellipsis */
    min-width: 0;
}

.CBUIStringsPart > .string1,
.CBUIStringsPart > .string2 {
    padding: 0 5px;
    transition: color 1s;
}

.CBUIStringsPart.keyvalue > .string1 {
    color: hsla(0, 0%, 0%, 0.6); /* IE11 */
    color: var(--CBTextColor2);
}

.CBUIStringsPart.sidebyside {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.CBUIStringsPart.action > .string2,
.CBUIStringsPart.titledescription > .string2 {
    color: hsla(0, 0%, 0%, 0.6); /* IE11 */
    color: var(--CBTextColor2);
    font-size: 80%;
}

.CBUIStringsPart.action {
    text-align: center;
}

.CBUIStringsPart.action > .string1 {
    color: hsla(210, 80%, 50%, 0.9); /* IE11 */
    color: var(--CBTextColorForLinks);
}

.CBUIStringsPart.disabled > * {
    color: hsla(0, 0%, 0%, 0.3) !important; /* IE11 */
    color: var(--CBTextColor3) !important;
}

/* the key string in keyvalue is truncated */
.CBUIStringsPart.keyvalue > .string1,
/* both strings in sidebyside are truncated */
.CBUIStringsPart.sidebyside > *,
/* both strings in titledescription are truncated */
.CBUIStringsPart.titledescription > * {
    /* ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
