.CBTextBoxViewThemeEditor {
    box-sizing: border-box;
    font-size:  14px;
    padding:    10px;
    width:      640px;
}

.CBTextBoxViewThemeEditor .CBStringEditor input,
.CBTextBoxViewThemeEditor .CBStringEditor textarea {
    border:     1px solid hsl(0, 0%, 80%);
    padding:    4px;
    width:      100%;
}

.CBTextBoxViewThemeEditor .CBStringEditor textarea {
    font:   400 12px/1.4 Menlo, monospace;
    height: 200px;
}

.CBTextBoxViewThemeEditor .CBStringEditor + .CBStringEditor {
    margin-top: 10px;
}

.CBTextBoxViewThemeEditor button {
    display: block;
    margin: 5px auto 0;
}
