main.CBImagesAdmin
{
    display:
    flex;

    flex-direction:
    column;
}



.CBImagesAdmin_imageList_element
{
    align-items:
    flex-end;

    display:
    flex;

    flex:
    1 1 auto;

    flex-wrap:
    wrap;

    justify-content:
    center;
}



.CBImagesAdmin_imageListItem_element
{
    box-sizing:
    border-box;

    padding:
    5px;

    width:
    160px;
}



.CBImagesAdmin_pictureContainer_element
{
    display:
    flex;

    justify-content:
    center;
}



.CBImagesAdmin_pictureContainer_element
img
{
    border-color:
    var(--CB_UI_borderColor);

    border-style:
    solid;

    border-width:
    1px;
}



.CBImagesAdmin_inspect_element
{
    display:
    block;

    padding:
    20px 0 50px;

    text-align:
    center;

    text-decoration:
    none;
}
