.CBPageTitleAndDescriptionView_default {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 40px 20px;
    text-align: center;
}

.CBPageTitleAndDescriptionView_default > div {
    max-width: 100%;
    width: 36em;
}

.CBPageTitleAndDescriptionView_default h1 {
    font-size: 2em;
}

.CBPageTitleAndDescriptionView_default .description {
    display: flex;
    justify-content: center;

    color: var(--CBTextColor2);
    font-style: italic;
    line-height: 1.5;
    padding-top: 50px;
}

.CBPageTitleAndDescriptionView_default .description > div {
    max-width: 100%;
    width: 480px;
}

.CBPageTitleAndDescriptionView_default .published {
    color: var(--CBTextColor2);
    font-size: 80%;
    padding-top: 50px;
}

/* light text colors (deprecated) */

.CBPageTitleAndDescriptionView_default.light {
    color: hsla(0, 0%, 100%, 0.9); /* CBTextColor1 for CBDarkTheme */
}

.CBPageTitleAndDescriptionView_default.light > .description {
    color: hsla(0, 0%, 100%, 0.7); /* CBTextColor2 for CBDarkTheme */
}

.CBPageTitleAndDescriptionView_default.light > .published {
    color: hsla(0, 0%, 100%, 0.7); /* CBTextColor2 for CBDarkTheme */
}
