.CBTextBoxViewEditor {
    border-top: 4px solid hsl(230, 50%, 80%);
    box-sizing: border-box;
    font-size:  14px;
    padding:    10px;
    width:      480px;
}

.CBTextBoxViewEditor .settings {
    -webkit-align-items:        baseline;
    display:                    -webkit-flex;
    -webkit-justify-content:    space-around;
    padding:                    0 0 10px;
}

.CBTextBoxViewEditor .settings .CBStringEditor {
    display: inline;
}

.CBTextBoxViewEditor .settings .CBStringEditor > label {
    margin-right: 5px;
}

.CBTextBoxViewEditor .settings .CBStringEditor > input {
    padding:    4px;
    width:      50px;
}

.CBTextBoxViewEditor > .CBStringEditor + .CBStringEditor {
    margin-top: 10px;
}

.CBTextBoxViewEditor > .CBStringEditor input,
.CBTextBoxViewEditor > .CBStringEditor textarea {
    border:     1px solid hsl(0, 0%, 80%);
    padding:    4px;
    width:      100%;
}

.CBTextBoxViewEditor > .CBStringEditor textarea {
    height: 200px;
}
