.CBTextBoxViewEditor {
    border-top: 4px solid hsl(230, 50%, 80%);
    box-sizing: border-box;
    font-size:  14px;
    padding:    10px;
    width:      480px;
}

.CBTextBoxViewEditor > .container {
    xpadding-top: 5px;
}

.CBTextBoxViewEditor > .container + .container {
    border-top:     1px solid hsl(0, 0%, 80%);
    margin-top:     10px;
    padding-top:    10px;
}

.CBTextBoxViewEditor .container.flex {
    align-items:                baseline;
    -webkit-align-items:        baseline;
    display:                    flex;
    display:                    -webkit-flex;
    flex-wrap:                  wrap;
    -webkit-flex-wrap:          wrap;
    justify-content:            space-around;
    -webkit-justify-content:    space-around;
    line-height:                2.5;
}

.CBTextBoxViewEditor .CBStringEditor > input,
.CBTextBoxViewEditor .CBStringEditor > select {
    margin-left: 5px;
}

.CBTextBoxViewEditor .CBStringEditor > input,
.CBTextBoxViewEditor .CBStringEditor > textarea {
    padding:        4px;
}

.CBTextBoxViewEditor .settings .CBStringEditor > input {
    width:      50px;
}

.CBTextBoxViewEditor > .URL > .CBStringEditor,
.CBTextBoxViewEditor > .title > .CBStringEditor {
    align-items:            baseline;
    -webkit-align-items:    baseline;
    display:                flex;
    display:                -webkit-flex;
    line-height:            normal;
    width:                  100%;
}

.CBTextBoxViewEditor > .URL > .CBStringEditor input,
.CBTextBoxViewEditor > .title > .CBStringEditor input {
    flex:           1 0 auto;
    -webkit-flex:   1 0 auto;
}

.CBTextBoxViewEditor > .content > .CBStringEditor textarea {
    border:     1px solid hsl(0, 0%, 80%);
    height:     200px;
    width:      100%;
}
