.CBTextBoxViewEditor {
    border-top: 4px solid hsl(230, 50%, 80%);
    box-sizing: border-box;
    font-size:  14px;
    padding:    10px;
    width:      480px;
}

.CBTextBoxViewEditor > .container {
    xpadding-top: 5px;
}

.CBTextBoxViewEditor > .container + .container {
    border-top:     1px solid hsl(0, 0%, 80%);
    margin-top:     10px;
    padding-top:    10px;
}

.CBTextBoxViewEditor .settings {
    align-items:                baseline;
    -webkit-align-items:        baseline;
    display:                    flex;
    display:                    -webkit-flex;
    justify-content:            space-around;
    -webkit-justify-content:    space-around;
}

.CBTextBoxViewEditor .settings .CBStringEditor {
    display: inline;
}

.CBTextBoxViewEditor .settings .CBStringEditor > label {
    margin-right: 5px;
}

.CBTextBoxViewEditor .settings .CBStringEditor > input {
    padding:    4px;
    width:      50px;
}

.CBTextBoxViewEditor > .URL > .CBStringEditor input,
.CBTextBoxViewEditor > .title > .CBStringEditor input,
.CBTextBoxViewEditor > .content > .CBStringEditor textarea {
    border:     1px solid hsl(0, 0%, 80%);
    padding:    4px;
    width:      100%;
}

.CBTextBoxViewEditor > .content > .CBStringEditor textarea {
    height: 200px;
}
