.CBUIMessagePart {
    box-sizing: border-box;
    cursor: auto;
    flex: 1 1 auto;
    min-height: 44px;
    padding: 20px;

    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
}

/*
Compact CBUIMessagePart elements are styled to resemble CBUIStringsPart
*/
.CBUIMessagePart.compact {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px 5px;
}
