.CBUIMessagePart {
    box-sizing: border-box;
    cursor: auto;
    flex: 1 1 auto;
    max-width: 100%;
    min-height: 44px;
    padding: 5px 10px;

    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
}

/**
 * Compact CBUIMessagePart elements are styled to resemble CBUIStringsPart.
 */
.CBUIMessagePart.compact {
    display: flex;
    align-items: center;
    justify-content: center;
}
