section.CBPageTemplates {
    text-align: center;
}

div.CBPageTemplateOption {
    background-color:   #efefef;
    display:            inline-table;
    height:             200px;
    margin:             10px;
    vertical-align:     top;
    width:              150px;
}

div.CBPageTemplateOption > div {
    display:        table-cell;
    font-size:      24px;
    font-weight:    bold;
    padding:        10px;
    text-align:     center;
    vertical-align: middle;
}

div.CBPageTemplateOption:hover {
    background-color:   #dfdfdf;
    cursor:             pointer;
}
