.CBAdminImageThumbnail {
    align-items: center;
    display: flex;
    height: 160px;
    justify-content: center;
    width: 160px;
}

.CBAdminImageThumbnail > img {
    background-color: hsl(0, 0%, 50%);
    display: block;
    max-height: 150px;
    max-width: 150px;
}

.CBAdminImageThumbnail > div {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    text-align: center;
}
