.CBArrayEditor .CBUISectionItem.item {
    display: flex;
}

.CBArrayEditor .CBUISectionItem .content {
    flex: 1 1 auto;
    padding: 5px 10px;
}

.CBArrayEditor .CBUISectionItem .content .description {
    color: hsl(0, 0%, 50%);
    font-size: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBArrayEditor .CBUISectionItem .action,
.CBArrayEditor .CBUISectionItem .toggle {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    flex: none;
    justify-content: center;
    padding: 0 10px;
    min-width: 50px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.CBArrayEditor .CBUISectionItem .toggle {
    display: flex;
    border-left: 1px solid hsl(0, 0%, 90%);
}

.CBArrayEditor .CBUISectionItem .action {
    display: none;
}

.CBArrayEditor .CBUISectionItem.show-actions > .action {
    display: flex;
}

/* remove non-vital actions for narrow widths */
@media (max-width: 479px) {
    .CBArrayEditor .CBUISectionItem.show-actions > .action.optional {
        display: none;
    }
}

.CBArrayEditor .CBUISectionItem .action.up {
    background-color: hsl(30, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .action.down {
    background-color: hsl(210, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .action.cut {
    background-color: hsl(0, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .action.copy {
    background-color: hsl(60, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .action.paste {
    background-color: hsl(120, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .action.insert {
    background-color: hsl(330, 100%, 70%);
}

.CBArrayEditorModelSelector {
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100vw;
}

.CBArrayEditorModelSelector .item {
    cursor: pointer;
    padding: 5px 10px;
}
