.CBEditorWidget {
    padding: 20px 40px;
}

.CBEditorWidget > div {
    background-color:   hsl(0, 0%, 90%);
    border:             1px solid hsl(0, 0%, 80%);
    border-radius:      5px;
    box-shadow:         3px 3px 10px rgba(0, 0, 0, 0.1);
    max-width:          -moz-max-content;
    max-width:          -webkit-max-content;
    max-width:          max-content;
    overflow:           hidden;
}

.CBEditorWidget.CBEditorWidgetSelected > div {
    box-shadow:         3px 3px 10px rgba(0, 0, 0, 0.1),
                        0 0 0 2px white,
                        0 0 0 6px hsl(215, 100%, 90%);
}

.CBEditorWidget > div > h1,
.CBEditorWidget > div > .toolbar {
    background-color:   hsl(0, 0%, 95%);

}

.CBEditorWidget.CBEditorWidgetSelected > div > h1,
.CBEditorWidget.CBEditorWidgetSelected > div > .toolbar {
    background-color:   hsl(0, 0%, 85%);
}

.CBEditorWidget > div > h1 {
    color:              hsl(0, 0%, 60%);
    font-size:          14px;
    font-weight:        400;
    text-align:         center;
}

.CBEditorWidget.CBEditorWidgetSelected > div > h1 {
    color:              hsl(0, 0%, 40%);
}

.CBEditorWidget > div > .toolbar {
    border-bottom:      1px solid hsl(0, 0%, 80%);
    padding:            3px 5px 5px;
}

.CBEditorWidget > div > .toolbar > * {
    margin:             0 5px;
}

.CBDefaultEditor {
    font-size:  12px;
    padding:    10px;
}
