.CBImageEditor > button {
    display:    block;
    margin:     10px auto 0px;
}

.CBImageEditor > .background {
    background-color:   white;
    display:            flex;
    display:            -webkit-flex;
    height:             200px;
    margin:             0 auto;
    padding:            20px;
    width:              400px;
}

.CBImageEditor > .background.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageEditor > .background img {
    margin:     auto;
    max-height: 200px;
    max-width:  400px;
}

.CBImageEditor > .background + div {
    color:      #808080;
    font-size:  13px;
    text-align: center;
}

.CBImageEditorPreview {
    background-color:   white;
    display:            flex;
    display:            -webkit-flex;
    height:             200px;
    padding:            20px;
    width:              400px;
}

.CBImageEditorPreview.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageEditorPreview > img {
    margin:     auto;
    max-height: 200px;
    max-width:  400px;
}
