.CBImageEditor .background.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageEditor .background img {
    display: block;
    margin: 0 auto;
    max-height: 200px;
    max-width: 100%;
}

.CBImageEditor .dimensions {
    align-items: center;
    color: #808080;
    display: flex;
    justify-content: center;
    min-height: 44px;
}

.CBImageEditorPreview {
    align-items:                center;
    -webkit-align-items:        center;
    background-color:           white;
    display:                    flex;
    display:                    -webkit-flex;
    height:                     200px;
    justify-content:            center;
    -webkit-justify-content:    center;
    padding:                    20px;
    position:                   relative;
    width:                      400px;
}

.CBImageEditorPreview.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageEditorPreview > img {
    max-height: 200px;
    max-width:  400px;
}

.CBImageEditorPreview > .size {
    bottom:     1px;
    color:      hsl(0, 0%, 50%);
    font-size:  13px;
    left:       0;
    position:   absolute;
    text-align: center;
    width:      100%;
}

.CBImageEditorThumbnailPreview {
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    height: 75px;
    justify-content: center;
    padding: 5px;
    position: relative;
    width: 75px;
}

.CBImageEditorThumbnailPreview.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageEditorThumbnailPreview > img {
    max-height: 75px;
    max-width:  75px;
}

.CBImageEditor320 {
    padding: 10px 0;
}

.CBImageIDEditorPreview {
    align-items: center;
    -webkit-align-items: center;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    height: 320px;
    justify-content: center;
    -webkit-justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 320px;
}

.CBImageIDEditorPreview.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageIDEditorPreview > img {
    max-height: 310px;
    max-width: 310px;
}
