.CBImageEditor > button {
    display:    block;
    margin:     10px auto 0px;
}

.CBImageEditor > .background {
    background-color:   white;
    display:            flex;
    display:            -webkit-flex;
    height:             200px;
    margin:             0 auto;
    padding:            20px;
    width:              400px;
}

.CBImageEditor > .background.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageEditor > .background img {
    margin:     auto;
    max-height: 200px;
    max-width:  400px;
}

.CBImageEditor > .background + div {
    color:      #808080;
    font-size:  13px;
    text-align: center;
}

.CBImageEditorPreview {
    align-items:                center;
    -webkit-align-items:        center;
    background-color:           white;
    display:                    flex;
    display:                    -webkit-flex;
    height:                     200px;
    justify-content:            center;
    -webkit-justify-content:    center;
    padding:                    20px;
    position:                   relative;
    width:                      400px;
}

.CBImageEditorPreview.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageEditorPreview > img {
    max-height: 200px;
    max-width:  400px;
}

.CBImageEditorPreview > .size {
    bottom:     1px;
    color:      hsl(0, 0%, 50%);
    font-size:  13px;
    left:       0;
    position:   absolute;
    text-align: center;
    width:      100%;
}

.CBImageEditorThumbnailPreview {
    align-items:                center;
    -webkit-align-items:        center;
    background-color:           white;
    display:                    flex;
    display:                    -webkit-flex;
    height:                     100px;
    justify-content:            center;
    -webkit-justify-content:    center;
    padding:                    5px;
    position:                   relative;
    width:                      100px;
}

.CBImageEditorThumbnailPreview.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageEditorThumbnailPreview > img {
    max-height: 100px;
    max-width:  100px;
}
