.CBNavigationView nav {
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    border-bottom: 1px solid hsl(0, 0%, 80%);
    display: flex;
    justify-content: flex-start;
    min-height: 44px;
}

.CBNavigationView nav > * {
    padding: 0 10px;
}

.CBNavigationView nav > .back {
    color: hsl(210, 100%, 50%);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBNavigationView nav > .title {
    flex: none;
    font-weight: bold;
}
