.CBPageEditor2 .SpecEditor {
    min-height: 50vh; /* just for testing */
}

.CBPageEditor2 .SpecEditor > header {
    align-items: center;
    border-color: hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 1px 0px;
    display: flex;
    height: 44px;
    justify-content: space-between;
}

.CBPageEditor2 .SpecEditor > header > h1 {
    font-size: inherit;
}

.CBPageEditor2 .SpecEditor > header > nav {
    padding: 0 10px;
}

.CBPageEditor2 .SpecLink {
    align-items: center;
    border-color: hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 1px 0;
    display: flex;
    height: 44px;
    padding: 0 10px;
}

.CBPageEditor2 .SpecLink + .SpecLink {
    border-width: 0 0 1px;
}

.CBPageEditorDescription {
    align-items: center;
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 50%);
    font-size: 80%;
    padding: 39px 10px 5px;
}
