.CBPageEditor2 {
    /* move down during development */
    padding-top: 500px;
}

.CBPageEditor2 .SpecEditor {
    min-height: 50vh; /* just for testing */
}

.CBPageEditor2 .SpecEditor > header {
    align-items: center;
    border-color: hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 1px 0px;
    display: flex;
    height: 44px;
    justify-content: space-between;
}

.CBPageEditor2 .SpecEditor > header > h1 {
    font-size: inherit;
}

.CBPageEditor2 .SpecEditor > header > nav {
    padding: 0 10px;
}

.CBPageEditor2 .SpecLink {
    align-items: center;
    background-color: white;
    display: flex;
    height: 44px;
    padding: 0 10px;
}

.CBPageEditor2 .SpecLink + .SpecLink {
    border-color: hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 1px 0 0;
}

.CBPageEditorSubviewNavigation {
    background-color: hsl(0, 0%, 90%);
    padding: 22px 0;
}

.CBPageEditorSubviewNavigation .list {
    border-color: hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 1px 0;
}

.CBPageEditorSubviewNavigation > div {
    margin: 0 auto;
    max-width: 640px;
}

.CBPageEditorDescription {
    color: hsl(0, 0%, 50%);
    font-size: 80%;
    padding: 5px 10px;
}

@media all and (min-width: 641px) {
    .CBPageEditorSubviewNavigation .list {
        border-radius: 10px;
        border-width: 1px;
        overflow: hidden;
    }
}
