.CBPageInformationEditor {
    border:             1px solid hsl(30, 10%, 80%);
    border-radius:      10px;
    margin:             10px auto;
    overflow:           hidden; /* clip to rounded corners */
    max-width:          720px;
}

.CBPageInformationEditor header {
    background-color:   hsl(30, 10%, 80%);
    padding:            7px 10px 10px;
    text-align:         center;
}

.CBPageInformationEditor > div {
    display:            flex;
    display:            -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.CBPageInformationEditor .CBStringEditorWithTextArea {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.CBPageInformationEditor .CBStringEditor > select {
    margin-left: 5px;
}

.CBPageInformationEditor input[type=text] {
    display:    block;
    padding:    4px;
    width:      100%;
}

.CBPageInformationEditor .flexContainer {
    display:                    flex;
    display:                    -webkit-flex;
    justify-content:            space-around;
    -webkit-justify-content:    space-around;
}

.CBPageInformationEditor .properties {
    flex:           1 1 auto;
    -webkit-flex:   1 1 auto;
    padding:        10px;
}

.CBPageInformationEditor .properties > .CBStringEditor + .CBStringEditor {
    margin-top: 10px;
}

.CBPageInformationEditor .sidebar {
    flex:           none;
    -webkit-flex:   none;
    padding:        10px;
    width:          200px;
}

.CBPageInformationEditor .CBImageEditorUploadButton {
    display:    block;
    margin:     0 0 10px;
    text-align: center;
}

.CBPageInformationEditor .CBStringEditor > select {
    margin-left: 5px;
}

.CBPageInformationEditor .CBImageEditorThumbnailPreview {
    margin: 0 auto;
}

.CBPageInformationPageListsEditor input[type=checkbox] {
    margin-right: 0.5em;
}
