.CBStringEditorWithTextArea {
    display: flex;
    flex-direction: column;
}

.CBStringEditorWithTextArea label {
    color: hsl(0, 0%, 50%);
}

.CBStringEditorWithTextArea textarea {
    background-color: transparent;
    border: none;
    font: inherit;
    outline: none;
    padding: 0;
    resize: none;
}
