section.CBSectionEditorView > header
{
    background-color:   #dfdfdf;
    border-radius:      5px;
    margin:             0px auto;
    padding:            5px 10px;
    text-align:         center;
    width:              480px;
}

section.CBSectionEditorView > header button
{
    display:    block;
    margin:     5px auto 0px;
}

section.CBSectionEditorView input[type=text].standard,
section.CBSectionEditorView textarea.standard
{
    border:         1px solid #dfdfdf;
    border-radius:  5px;
    padding:        3px 6px;
}

section.CBSectionEditorView input[type=text].standard:disabled
{
    border: 1px solid transparent;
}
