.CBViewMenu
{
    margin:     50px auto;
    max-width:  720px;
    position:   relative;
    text-align: center;
}

.CBViewMenu > button
{
    margin-left: 5px;
}

.CBViewMenu > div
{
    border-bottom:  1px solid rgba(0, 0, 0, 0.2);
    bottom:         50%;
    position:       absolute;
    width:          100%;
    z-index:        -1;
}
