.CBLinkView1 {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.CBLinkView1 a {
    box-sizing: border-box;
    color: inherit;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.CBLinkView1 a:hover {
    color: var(--CBTextColorForLinks);
}

.CBLinkView1 a:hover .arrow {
    opacity: 1;
}

.CBLinkView1 .text {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.CBLinkView1 .title {
    font-weight: bold;
}

.CBLinkView1 .description {

}

.CBLinkView1 .arrow {
    align-items: center;
    display: flex;
    flex: none;
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
    opacity: 0.2;
    padding: 0 0.1em 0 0.5em;
}

.CBLinkView1 .arrow::before {
    content: ">";
}

/**
 * Large instances compress to 368px to fit two in a row on the largest iPhone,
 * then pause, then eventually compress to 100vw.
 */

.CBLinkView1.large a {
    max-width: 520px; /* 20 + 480 + 20 */
    width: 50vw;
}

@media (max-width: 736px) {
    .CBLinkView1.large a {
        max-width: 368px;
        width: 100vw;
    }
}

.CBLinkView1.medium a {
    max-width: 360px; /* 20 + 320 + 20 */
    min-width: 320px;
    width: 50vw;
}

.CBLinkView1.small a {
    max-width: 280px; /* 20 + 240 + 20 */
    min-width: 240px;
    width: 33.33vw;
}
