.CBLinkView1_root_element
{
    box-sizing:
    border-box;

    display:
    flex;

    justify-content:
    center;

    max-width:
    100%;

    overflow-wrap:
    break-word;

    padding:
    20px;
}



.CBLinkView1_content_element
{
    /**
     * 2022_09_10
     *
     * The "color" property is set to "inherit" because this element is an
     * anchor element and we don't want it to have the anchor color unless the
     * user is hovering.
     */
    color:
    inherit;

    max-width:
    100%;

    text-decoration:
    none;

    width:
    320px;
}



.CBLinkView1_content_element:hover
{
    color:
    var(--CBTextColorForLinks);
}



.CBLinkView1_root_element.small
.CBLinkView1_content_element
{
    width:
    240px;
}



.CBLinkView1_root_element.large
.CBLinkView1_content_element
{
    width:
    480px;
}



.CBLinkView1_title_element
{
    margin:
    3px 0;
}



.CBLinkView1_description_element
{
    font-size:
    80%;
}
