.CBArrayEditor .CBUISectionItem .title {
    min-width: 0; /* enable ellipsis truncation on children */
}

.CBArrayEditor .CBUISectionItem .title > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBArrayEditor .CBUISectionItem .title > .description {
    color: hsl(0, 0%, 50%);
    font-size: 80%;
}

/* remove non-vital actions for narrow widths */
@media (max-width: 479px) {
    .CBArrayEditor .CBUISectionItem .optional {
        display: none;
    }
}

.CBArrayEditor .CBUISectionItem .up {
    background-color: hsl(30, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .down {
    background-color: hsl(210, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .cut {
    background-color: hsl(0, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .copy {
    background-color: hsl(60, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .paste {
    background-color: hsl(120, 100%, 70%);
}

.CBArrayEditor .CBUISectionItem .insert {
    background-color: hsl(330, 100%, 70%);
}

.CBArrayEditorModelSelector {
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100vw;
}

.CBArrayEditorModelSelector .item {
    cursor: pointer;
    padding: 5px 10px;
}
