.CBImagesAdminPage {
    background-color: hsl(0, 0%, 30%);
}

.CBImagesAdminPage .buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.CBImagesAdminPage .images {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.CBImagesAdminPage .thumbnail {
    box-sizing: border-box;
    height: 160px;
    padding: 5px;
    width: 160px;
}

.CBImagesAdminPage .thumbnail > img {
    background-color: hsl(0, 0%, 20%);
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%;
}

@media (max-width: 640px) {
    .CBImagesAdminPage .thumbnail {
        height: 25vw;
        width: 25vw;
    }
}

@media (max-width: 480px) {
    .CBImagesAdminPage .thumbnail {
        height: 120px;
        width: 120px;
    }
}

@media (max-width: 360px) {
    .CBImagesAdminPage .thumbnail {
        height: 33vw;
        width: 33vw;
    }
}
