.CBAdminPageForCSSVariables .b2 {
    background-color: var(--CBBackgroundColor2);
}

.CBAdminPageForCSSVariables .panel {
    display: flex;
    justify-content: center;
    padding: 20px 20px 40px;
}

.CBAdminPageForCSSVariables .panel > div {
    border: 1px solid var(--CBLineColor);
    border-radius: 5px;
    max-width: 100%;
}

.CBAdminPageForCSSVariables .panel1 > div {
    background-color: var(--CBBackgroundColor2);
}

.CBAdminPageForCSSVariables .panel2 > div {
    background-color: var(--CBBackgroundColor);
}
