.CB_CBView_MomentCreator_buttonBarContainer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
}



.CB_CBView_MomentCreator_buttonBar {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    max-width: 200%;
    width: var(--CB_UI_readableWidth);
}



.CB_CBView_MomentCreator_imageContainer_element {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    max-width: 100%;
    padding: 10px 20px;
}



.CB_CBView_MomentCreator_image_element {
    display: block;
    box-sizing: border-box;

    max-width: 100%;
    width: var(--CB_UI_readableWidth);

    border-width: 1px;
    border-color: var(--CB_UI_borderColor);
    border-radius: 5px;
    border-style: solid;
}
