.CBUIUnixTimestampEditor {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    padding: 5px 10px;
    position: relative;
}

.CBUIUnixTimestampEditor .label {
    color: hsl(0, 0%, 50%);
}

.CBUIUnixTimestampEditor .arrow {
    align-items: center;
    color: hsl(0, 0%, 50%);
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
}

.CBUIUnixTimestampValueEditor .buttonContainer {
    text-align: center;
}

.CBUIUnixTimestampValueEditor .button {
    background-color: hsl(240, 50%, 70%);
    border: 2px solid hsl(240, 50%, 60%);
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 3px 5px;
}
