.CBUIRoot {
    background-color: hsl(0, 0%, 95%); /* IE11 */
    background-color: var(--CBUIBackgroundColor);
    /* can grow, cannot shrink, therefore can fill a flexible container */
    flex: 1 0 auto;
}

.CBUIRoot + .flex-fill {
    display: none;
}

.CBUIButton {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.CBUIButton .button {
    background-color: hsl(210, 80%, 50%); /* IE11, from equalize.css */
    background-color: var(--CBButtonBackgroundColor);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: hsl(0, 0%, 100%); /* IE11, from equalize.css */
    color: var(--CBButtonTextColor);
    cursor: default;
    padding: 10px 20px;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.CBUIButton.disabled .button {
    background-color: hsl(210, 80%, 30%); /* IE11, from equalize.css */
    background-color: var(--CBButtonBackgroundColorDisabled);
    color: hsla(0, 0, 100%, 0.3); /* IE11, from equalize.css */
    color: var(--CBButtonTextColorDisabled);
}

.CBUIHalfSpace {
    height: 22px;
}

.CBUIHeader {
    background-color: hsl(0, 0%, 100%); /* IE11 */
    background-color: var(--CBBackgroundColor);
    border-bottom-color: hsl(0, 0%, 85%); /* IE11 */
    border-bottom-color: var(--CBUIBorderColor);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.CBUIHeader > .left {
    display: flex;
    flex: 1 1 100px;
    min-width: 0;
}

.CBUIHeader > .center {
    display: flex;
    flex: 0 1 auto;
    min-width: 0;
}

.CBUIHeader > .right {
    display: flex;
    flex: 1 1 100px;
    justify-content: flex-end;
    min-width: 0;
}

.CBUIHeaderItem {
    align-items: center;
    display: flex;
    min-height: 44px;
    min-width: 0;
}

.CBUIHeaderItem > a {
    color: inherit;
    cursor: default;
    font-weight: bold;
    padding: 0 5px;
    text-decoration: none;

    /* ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBUIHeaderItem.action > a {
    color: hsla(210, 80%, 50%, 0.9); /* IE11 */
    color: var(--CBTextColorForLinks);
    cursor: pointer;
    font-weight: normal;
}

.CBUIKeyValue {
    padding: 5px 10px;
}

.CBUIKeyValue > .key {
    color: hsl(0, 0%, 50%);
}

.CBUILink {
    align-items: center;
    display: flex;
    min-height: 44px;
    padding: 5px 10px;
}

.CBUILink > span {
    text-align: center;
    width: 100%;
}

.CBUIMessageSectionItemPart {
    flex: 1 1 auto;
    padding: 20px;
}

.CBUISectionHeader {
    box-sizing: border-box;
    color: hsl(0, 0%, 40%);
    font-size: 14px;
    font-weight: normal;
    margin: 0 auto;
    max-width: 100%;
    padding: 5px 10px;
    width: 640px;
}

.CBUISectionHeader > h1 {
    font: inherit;
    text-transform: uppercase;
}

.CBUISectionHeader > div > p + p {
    margin-top: 0.5em;
}

.CBUISectionItem {
    background-color: hsl(0, 0%, 100%); /* IE11 */
    background-color: var(--CBBackgroundColor);
    min-height: 44px;
}

.CBUISectionItem a {
    color: hsla(210, 80%, 50%, 0.9); /* IE11 */
    color: var(--CBTextColorForLinks);
    text-decoration: none;
}

.CBUISectionItem a:hover {
    text-decoration: underline;
}

/**
 * 2018.04.02 minimum width of flex items
 *
 * By default, a flexible item cannot be smaller than it's content size along
 * the main axis. This may prevent multiple flex items from fitting in their
 * container.
 *
 * To remedy this there are some solutions. You can either set:
 *
 *      "overflow: hidden;"
 *
 *      "min-width: 0;" (or height for vertical flex boxes)
 *
 * This is very important for enabling the display of ellipsis. Often the flex
 * item containing the text uses the overflow method while flexbox parents use
 * the "min-width" method.
 */

.CBUISectionItem .ellipsisTextContainer {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    min-width: 0; /* min-width method */
    padding: 5px 10px;
}

.CBUISectionItem .ellipsisText {
    overflow: hidden; /* overflow method */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBUISectionItem > .information {
    color: hsl(0, 0%, 50%);
    font-size: 14px;
}

.CBUISectionItem2 {
    display: flex;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.CBUISectionItem2 > .thumbnail {
    display: none;
}

.CBUISectionItem2 > .thumbnail.set {
    display: block;
    padding: 5px 0 5px 5px;
}

.CBUISectionItem2 > .thumbnail img {
    display: block;
    height: 40px;
    object-fit: cover;
    width: 40px;
}

.CBUISectionItem2 > .title {
    cursor: pointer;
    flex: 1 1 auto;
    padding: 5px 10px;
}

.CBUISectionItem2 > .CBUIDropdown {
    background-color: inherit;
    display: flex;
    flex: none;
    flex-direction: row-reverse;
    position: relative;
}

.CBUISectionItem2 > .CBUIDropdown.expanded {
    z-index: 1001;
}

.CBUISectionItem2 > .CBUIDropdown > .button {
    align-items: center;
    border-left-color: hsl(0, 0%, 85%); /* IE11 */
    border-left-color: var(--CBUIBorderColor);
    border-left-style: solid;
    border-left-width: 1px;
    box-sizing: border-box;
    display: flex;
    flex: none;
    justify-content: center;
    width: 50px;
}

.CBUISectionItem2 > .CBUIDropdown > .button::after {
    content: "<";
}

.CBUISectionItem2 > .CBUIDropdown.expanded > .button::after {
    content: ">";
}

.CBUISectionItem2 > .CBUIDropdown > .menu {
    display: none;
}

.CBUISectionItem2 > .CBUIDropdown.expanded > .menu {
    display: flex;
}

.CBUISectionItem2 .command {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-width: 50px;
    padding: 5px 10px;
}
