.CB_StandardPageFrame_element {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    max-width: 100%;
}

.CB_StandardPageFrame_element a,
.CB_StandardPageFrame_mainMenuPopup_element a {
    text-decoration: none;
}


.CB_StandardPageFrame_leftSidebar_class,
.CB_StandardPageFrame_rightSidebar_element {
    display: none;
    flex-shrink: 0;
    height: 100vh;
    top: 0;
    width: 240px;
    overflow-y: scroll;
    position: sticky;
}



.CB_StandardPageFrame_leftSidebar_class {
    border-right: 1px solid var(--CB_UI_borderColor);
}



.CB_StandardPageFrame_rightSidebar_element {
    border-left: 1px solid var(--CB_UI_borderColor);
}



.CB_StandardPageFrame_rightSidebarEnabled
  .CB_StandardPageFrame_rightSidebar_element {
    display: block;
}



.CB_StandardPageFrame_leftSidebarEnabled
  .CB_StandardPageFrame_leftSidebar_class {
    display: block;
}



.CB_StandardPageFrame_main_element {
    display: flex;
    flex-direction: column;

    /* the body must be at least as tall as the viewport */
    min-height: 100vh;

    /**
     * The default min-width for flex items is "auto". This means that the
     * actuall min-width will be the intrinsic width of the element and not even
     * flex-shrink will allow the element to have a smaller width. Specifying a
     * min-width of 0 means that the actual minimum width is 0 and the width
     * can shrink.
    **/
    min-width: 0;

    max-width: 100%;
    width: 2560px;
}



.CB_StandardPageFrame_headerImage_element {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    max-width: 100%;
    padding: 0 0 20px;
}



.CB_StandardPageFrame_headerImage_element img {
    display: block;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    max-width: 100%;
    width: 720px;
}



.CB_StandardPageFrame_menuPanel_element {
    display: none;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow-y: scroll;
    overscroll-behavior: contain;
    position: fixed;
    z-index: 1500; /* see CBEqualizePageSettingsPart.css */

    background-color: var(--CB_UI_paperColor);
}

.CB_StandardPageFrame_mainMenuPopup_isVisible
  .CB_StandardPageFrame_menuPanel_element {
    display: flex;
}



.CB_StandardPageFrame_leftSidebarEnabled
  .CB_CBView_MainHeader_menuButton {
    display: none;
}
