
/* CBPageListView2_default */

/**
 * This view's declarations follow the Colby View Element Standards
 */
.CBPageListView2_default article {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 60px 20px;
}

.CBPageListView2_default .CBPageListView2_pageAnchor {
    max-width: 100%;
    width: 36em;

    /* override anchor element defaults */
    color: inherit;
    text-decoration: none;
}

.CBPageListView2_default .CBPageListView2_pageImage {
    background-color: var(--CBBackgroundOffsetColor);
}

.CBPageListView2_default article .text {
    line-height: 1.6;
    text-align: center;
}

.CBPageListView2_default article .text > * {
    margin: 10px 0;
}

.CBPageListView2_default .CBPageListView2_pageTitle {
    font-size: inherit;
}

.CBPageListView2_default article .description {
    color: var(--CBTextColor2);
}

.CBPageListView2_default article .published {
    color: var(--CBTextColor3);
}

.CBPageListView2_default article .readmore {
    color: var(--CBTextColorForLinks);
}

/* CBPageListView2_small */

.CBPageListView2_small .CBPageListView2_pagesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    box-sizing: border-box;
    overflow-wrap: break-word;
}

.CBPageListView2_small .CBPageListView2_pagesContainer > article {
    max-width: 100%;
    width: 210px;

    font-size: 12px;
    padding: 15px 5px;
}

.CBPageListView2_small .CBPageListView2_pageImage {
    background-color: var(--CBBackgroundOffsetColor);
}

.CBPageListView2_small .CBPageListView2_pageDescription,
.CBPageListView2_small .CBPageListView2_pagePublicationDate {
    color: var(--CBTextColor2);
}

.CBPageListView2_small .CBPageListView2_pageDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBPageListView2_small .CBPageListView2_pageReadMore {
    display: none;
}

.CBPageListView2_small a {
    color: inherit;
    text-decoration: none;
}

.CBPageListView2_small .CBPageListView2_pageTitle {
    font-size: 14px;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* button */

.CBPageListView2 .buttonContainer {
    padding: 20px 0;
}

.CBPageListView2 .buttonContainer.hidden {
    visibility: hidden;
}
