.CBPageListView2_default > * {
    padding: 40px 20px;
    text-align: center;
}

.CBPageListView2_default > *:nth-child(even) {
    background-color: var(--CBBackgroundColor2);
}

.CBPageListView2_default a {
    align-items: center;
    color: inherit;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

/**
 * This element is inside a flexbox so it needs to ensure that it is no larger
 * that 100% wide.
 */
.CBPageListView2_default .image {
    max-width: 100%;
}

.CBPageListView2_default h2 {
    font-size: 2.5em;
    padding: 40px 0 0;
}

@media (max-width: 735px) {
    .CBPageListView2_default h2 {
        font-size: 1.5em;
    }
}

.CBPageListView2_default .published {
    color: var(--CBTextColor2);
    font-size: 70%;
    padding: 0 0 40px;
}


.CBPageListView2_default .description {
    max-width: 36em;
}

.CBPageListView2_default a .readmore {
    color: var(--CBTextColorForLinks);
    padding: 40px 0 0;
}

.CBPageListView2 .buttonContainer {
    padding: 20px 0;
}

.CBPageListView2 .buttonContainer.hidden {
    visibility: hidden;
}
