main.CBDocumentation {
    background-color: var(--CBBackgroundColor);
}

.CBDocumentation_container {
    text-align: center;
}

.CBDocumentation_container a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
}

.CBDocumentation_DeveloperView_error {
    border-color: hsl(30, 100%, 50%);
    border-style: dashed;
    border-width: 2px;
    box-sizing: border-box;
    padding: 10px;
}
