.CBLibraryListView {
    padding: 20px;
    text-align: center;
}

section.widget
{
    display: inline-block;
    width: 300px;
    min-height: 100px;
    margin: 5px;
    border: 1px solid #dddddd;
    vertical-align: top;
}

section.widget > div
{
    padding: 5px;
}

section.widget > header > h1 {
    background-color: #333333;
    color: #bbbbbb;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
}

section.widget .version-numbers
{
    text-align: center;
}

section.widget .version-number
{
    display: inline-block;
    padding: 5px;
}

section.widget .version-number h1
{
    color: gray;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

section.widget .version-number .number
{
    margin-top: -10px;
    font-size: 40px;
    font-weight: 700;
}

section.widget .version-number + .version-number
{
    border-left: 1px solid #dddddd;
}

.CBSiteConfigurationIssuesView {
    align-self: center;
    -webkit-align-self: center;
    max-width: 480px;
    padding: 20px;
}

.CBSiteConfigurationIssuesView h1 {
    text-align: center;
}

.CBSiteConfigurationIssuesView ul {
    padding: 0;
}

.CBSiteConfigurationIssuesView  li {
    list-style: none;
    padding:    10px;
}
