.CBPageEditor > nav {
    font-size:      14px;
    margin-bottom: 20px;
    text-align: center;
}

/**
 * Container view borders should be 10px away from the edge of the page.
 */
.CBPageEditor > .CBModelArrayEditor {
    padding: 0 10px;
}

.CBPageURIControl {
    padding: 5px 10px;
}

.CBPageURIControl label {
    color: hsl(0, 0%, 50%);
}

.CBPageURIControl input[type=checkbox] {
    margin: 0px 5px 0px 30px;
}

.CBPageURIControl input[type=text] {
    border: none;
    font: inherit;
    outline: none;
    padding: 0;
    width: 100%;
}

.CBPublicationControl {
    padding: 5px 10px;
}

.CBPublicationControl label {
    color: hsl(0, 0%, 50%);
}

.CBPublicationControl input[type=checkbox] {
    margin-right: 5px;
}

.CBPublicationControl input[type=text] {
    border: none;
    font: inherit;
    outline: none;
    padding: 0;
    width: 100%;
}

/**
 *
 */

section.CBPageTemplates {
    text-align: center;
}

div.CBPageTemplateOption {
    background-color:   #efefef;
    display:            inline-table;
    height:             200px;
    margin:             10px;
    vertical-align:     top;
    width:              150px;
}

div.CBPageTemplateOption > div {
    display:        table-cell;
    font-size:      24px;
    font-weight:    bold;
    padding:        10px;
    text-align:     center;
    vertical-align: middle;
}

div.CBPageTemplateOption:hover {
    background-color:   #dfdfdf;
    cursor:             pointer;
}
