#CBPagesSearchFormView {
    text-align: center;
}

#CBPagesSearchFormView button {
    display:    block;
    margin:     30px auto;
}

#CBPagesSearchFormView input {
    padding:    4px;
    width:      600px;
}
