main {
    flex: 1 1 auto;
}

.CBPageSearchResultsView {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.CBPageSearchResultsView .result {
    box-sizing: border-box;
    max-width: 100%;
    padding: 20px;
    width: 480px;
}

@media (min-width: 640px) and (max-width: 960px) {
    .CBPageSearchResultsView .result {
        max-width: 50%;
    }
}

.CBSearchResultView {
    overflow-wrap: break-word;
}

.CBSearchResultView_thumbnail {
    background-color: var(--CBBackgroundOffsetColor);
    box-sizing: border-box;
    float: right;
    margin: 0 0 5px 10px;
    max-width: 100%;
}

.CBPageSearchResultsView .result h1 {
    font-size: inherit;
}

.CBSearch form.search > div {
    align-items: center;
    border-bottom: 1px solid var(--CBTextColor3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.CBSearch form.search input[type=text] {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 5px;
    width: 480px;;
}
