.CBLibraryListView {
    padding: 20px 0;
    text-align: center;
}

section.widget {
    box-sizing:     border-box;
    display:        inline-block;
    min-height:     100px;
    padding:        10px;
    vertical-align: top;
    width:          320px;
}

section.widget > header > h1 {
    background-color:   hsl(0, 0%, 20%);
    color:              white;
    font-size:          18px;
    font-weight:        normal;
    letter-spacing:     1px;
    padding:            10px 0;
    text-align:         center;
}

section.widget > div {
    border-color:   hsl(0, 0%, 20%);
    border-style:   solid;
    border-width:   0 2px 2px;
    padding:        5px;
}


section.widget .version-numbers {
    background-color: white;
    text-align: center;
}

section.widget .version-number {
    display: inline-block;
    padding: 5px;
}

section.widget .version-number h1 {
    color: gray;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

section.widget .version-number .number {
    margin-top: -10px;
    font-size: 40px;
    font-weight: 700;
}

section.widget .version-number + .version-number {
    border-left: 1px solid #dddddd;
}

/**
 * CBAdminPageDuplicateURIsView
 */

.CBURIItem {
    padding: 10px;
}

/**
 * CBSiteConfigurationIssuesView
 *
 * 1. The combination of the `max-width` rules and `word-wrap: break-word`
 *    ensure that long words in the content of this view will not mess up the
 *    layout of the view or the page.
 */

.CBSiteConfigurationIssuesView {
    align-self:         center;
    -webkit-align-self: center;
    max-width:          480px; /* 1 */
    padding:            20px 0;
    word-wrap:          break-word; /* 1 */
}

@media (max-width: 479px) {
    .CBSiteConfigurationIssuesView {
        max-width: 100vw; /* 1 */
    }
}

.CBSiteConfigurationIssuesView h1 {
    padding:    0 20px;
    text-align: center;
}

.CBSiteConfigurationIssuesView ul {
    padding: 0;
}

.CBSiteConfigurationIssuesView li {
    list-style: none;
    padding:    20px;
}
