.CBTestUI .container {
    padding: 10px;
    text-align: center;
}

.CBTestUI .status {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 80%);
    padding: 10px;
}

.CBTestUI .line.error {
    color: hsl(30, 50%, 50%);
    padding: 0 10px;
}

.CBTestUI .line.failure {
    color: hsl(0, 50%, 50%);
    padding-bottom: 5px;
}

.CBTestUI .line.success {
    color: hsl(120, 50%, 50%);
    padding-bottom: 5px;
}
