.CBSearchForPagesAdmin form {
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    display: flex;
    justify-content: center;
    height: 48px;
}

.CBSearchForPagesAdmin form > input[type=search] {
    -webkit-appearance: none;
    border: none;
    font-size: 24px;
    flex: 1 1 auto;
    max-width: 720px;
    outline: none;
}

.CBSearchForPagesAdmin form > input[type=submit] {
    display: none;
}
