main
{
    margin: 0px auto;
    width:  960px;
}

table.document-list
{
    width: 700px;
    margin-bottom: 50px;
    border-spacing: 0px;
    table-layout: fixed;
}

table.document-list thead th
{
    border-bottom: 1px solid #efefef;
}

table.document-list td,
table.document-list th
{
    padding: 2px 5px;
    overflow: hidden; /* Necessary for ellipsis style. */
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.document-list td
{
    vertical-align: top;
}

table.document-list tbody tr:nth-child(even)
{
    background-color: #f7f7f7;
}

table.document-list tr *:nth-child(1)
{
    width: 40px;
    text-align: center;
}

table.document-list tr *:nth-child(2)
{
}

table.document-list tr *:nth-child(3)
{
    width: 175px;
    font-size: 0.8em;
}
