.CBPageEditor > nav
{
    margin-bottom: 20px;
    text-align: center;
}

/**
 * Container view borders should be 10px away from the edge of the page.
 */
.CBPageEditor > .CBModelArrayEditor
{
    padding: 0 10px;
}

.CBTextAreaControl.standard
{
    display:    block;
    margin:     10px 0px;
}

.CBTextAreaControl.standard label
{
    font-size: 80%;
}

.CBTextAreaControl.standard textarea
{
    height: 300px;
    width: 100%;
}

.CBPageURIControl.standard
{
    margin: 10px 0px;
}

.CBPageURIControl.standard input[type=checkbox]
{
    margin: 0px 5px 0px 30px;
}

.CBPageURIControl.standard input[type=text]
{
    font-family: "Source Code Pro", monospace;
    font-size: 80%;
    padding: 5px 6px;
    width: 100%;
}

.CBPublicationControl.standard
{
    margin: 10px 0px;
}

.CBPublicationControl.standard label
{
    font-size: 80%;
}

.CBPublicationControl.standard input[type=checkbox]
{
    margin-right: 5px;
}

.CBPublicationControl.standard input[type=text]
{
    width: 100%;
}

.CBSelectionControl.standard select
{
    margin-left: 5px;
}

.CBSelectionControl.standard.page-group
{
    margin-left: 50px;
}

.CBTextControl.standard
{
    display:    block;
    margin:     10px 0px;
}

.CBTextControl.standard > input
{
    width: 100%;
}

/**
 *
 */

section.CBPageTemplates
{
    text-align: center;
}

div.CBPageTemplateOption
{
    background-color:   #efefef;
    display:            inline-table;
    height:             200px;
    margin:             10px;
    vertical-align:     top;
    width:              150px;
}

div.CBPageTemplateOption > div
{
    display:        table-cell;
    font-size:      24px;
    font-weight:    bold;
    padding:        10px;
    text-align:     center;
    vertical-align: middle;
}

div.CBPageTemplateOption:hover
{
    background-color:   #dfdfdf;
    cursor:             pointer;
}
