.CBPageKindView.NoTheme > header {
    padding:    40px;
    text-align: center;
}

.CBPageKindView.NoTheme > header h1 {
    font-size:  24px;
}

.CBPageKindView.NoTheme article {
    display:    flex;
    display:    -ms-flexbox;
    display:    -webkit-flex;
    margin:     0 auto;
    padding:    20px 0;
    width:      480px;
}

.CBPageKindView.NoTheme article .thumbnail {
    align-self:         flex-start;
    -webkit-align-self: flex-start;
    flex:               none;
    -webkit-flex:       none;
    height:             100px;
    margin-right:       10px;
    width:              100px;
}

.CBPageKindView.NoTheme article img {
    max-height:         100px;
    max-width:          100px;
}

.CBPageKindView.NoTheme article time {
    color:      hsl(0, 0%, 50%);
    display:    block;
    font-size:  13px;
    padding:    5px 0 0;
}

.CBPageKindView.NoTheme .year {
    padding: 20px 0;
}

.CBPageKindView.NoTheme .year > h1 {
    padding:    0 0 20px;
    text-align: center;
}

.CBPageKindView.NoTheme .year > div {
    column-count:           4;
    -moz-column-count:      4;
    -webkit-column-count:   4;
    margin:                 0 auto;
    width:                  960px;
}
