/* view header */

.CBPageKindView > header.CBTextBoxView > h1,
.CBPageKindView > header.CBTextBoxView > div {
    text-align: center;
}

.CBPageKindView > header.CBTextBoxView.DefaultTheme {
    padding:    40px;
}

.CBPageKindView > header.CBTextBoxView.DefaultTheme > h1 {
    font-size:      24px;
    font-weight:    bold;
}

/* page summary */

.CBPageKindView article.summary {
    display:    flex;
    display:    -ms-flexbox;
    display:    -webkit-flex;
    margin:     0 auto;
    padding:    20px 0;
    width:      480px;
}

.CBPageKindView article.summary .thumbnail {
    align-self:         flex-start;
    -webkit-align-self: flex-start;
    flex:               none;
    -webkit-flex:       none;
    height:             100px;
    margin-right:       10px;
    width:              100px;
}

.CBPageKindView article.summary .thumbnail img {
    max-height:         100px;
    max-width:          100px;
}

.CBPageKindView article.summary div.CBTextBoxView.DefaultTheme > h1 {
    font-size:      20px;
    font-weight:    bold;
}

.CBPageKindView article.summary div.CBTextBoxView.DefaultTheme > div time {
    color:      hsl(0, 0%, 50%);
    display:    block;
    font-size:  13px;
    padding:    5px 0 0;
}

/* year */

.CBPageKindView section.year.CBTextBoxView > h1 {
    padding:    0 0 20px;
    text-align: center;
}

.CBPageKindView section.year.CBTextBoxView > div {
    column-count:           4;
    -moz-column-count:      4;
    -webkit-column-count:   4;
    margin:                 0 auto;
    width:                  960px;
}

.CBPageKindView section.year.CBTextBoxView.DefaultTheme {
    padding: 20px 0;
}

.CBPageKindView section.year.CBTextBoxView.DefaultTheme > h1 {
    font-size:      20px;
    font-weight:    bold;
}
