.CBContentStyleSheet h1 {
    font-size: 1.5em;
}

.CBContentStyleSheet h2 {
    font-size: 1.2em;
}

.CBContentStyleSheet h3 {
    font-size: 1em;
    font-weight: normal;
}

.CBContentStyleSheet blockquote {
    margin: 2em 3em;
}

.CBContentStyleSheet cite {
    font-style: italic;
}

.CBContentStyleSheet dt {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.CBContentStyleSheet hr {
    border-style: none;
    border-top: 0.1em solid var(--CBTextColor3);
    margin: 3em 8em !important;
}

/**
 * 2017.11.30 A rare use of left an right margins because the border box should
 * be inset relative to the parent element. This allows the dd element to look
 * like a sub-element of its preceding dt element.
 */
.CBContentStyleSheet dd {
    margin: 0.5em 3.0em;
}

/**
 * 2017.11.30 Today I found a rule here that applied a top and bottom margin of
 * 0.5em to p elements inside of dd elements. I do not know why this rule was
 * here but it was incorrect because as soon as you place a border on the dd
 * element, the first and last p elements add an awkward whitespace inside the
 * border. I'm leaving this comment for reference in case the original
 * motivation for the rule comes up again.
 */

.CBContentStyleSheet b cite,
.CBContentStyleSheet b i,
.CBContentStyleSheet cite b,
.CBContentStyleSheet cite i,
.CBContentStyleSheet i b,
.CBContentStyleSheet i cite {
    font-style: inherit;
    font-weight: inherit;
}

/**
 * These elements have whitespace on top if they follow other elements to
 * emphasize their block.
 */
.CBContentStyleSheet * + dl,
.CBContentStyleSheet * + ol,
.CBContentStyleSheet * + pre,
.CBContentStyleSheet * + ul {
    margin-top: 1.5em;
}

.CBContentStyleSheet li,
.CBContentStyleSheet li p {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

.CBContentStyleSheet blockquote + *,
.CBContentStyleSheet dl + *,
.CBContentStyleSheet ol + *,
.CBContentStyleSheet p + *,
.CBContentStyleSheet pre + *,
.CBContentStyleSheet ul + * {
    margin-top: 1.5em;
}

.CBContentStyleSheet pre.green {
    background-color: hsl(0, 0%, 10%);
    border-radius: 10px;
    color: hsl(120, 100%, 45%);
    letter-spacing: 0.1em;
    padding: 10px 15px;
}

.CBContentStyleSheet.center,
.CBContentStyleSheet .center {
    text-align: center;
}

.CBContentStyleSheet.justify,
.CBContentStyleSheet .justify {
    text-align: justify;
}

.CBContentStyleSheet.left,
.CBContentStyleSheet .left {
    text-align: left;
}

.CBContentStyleSheet .prewrap {
    white-space: pre-wrap;
}

.CBContentStyleSheet .preline {
    white-space: pre-line;
}

.CBContentStyleSheet.right,
.CBContentStyleSheet .right {
    text-align: right;
}
