.CBContentStyleSheet {
    /**
     * 2018_09_12 This will allow long words like IDs and URLs to wrap of they
     * take up more than one line of width. Child pre elementsunset this rule
     * below.
     */
    overflow-wrap: break-word;
}

.CBContentStyleSheet h1 {
    font-size: 1.5em;
}

.CBContentStyleSheet h2 {
    font-size: 1.2em;
}

.CBContentStyleSheet h3 {
    font-size: 1em;
    font-weight: normal;
}

.CBContentStyleSheet blockquote {
    margin: 2em 3em;
}

.CBContentStyleSheet cite {
    font-style: italic;
}

.CBContentStyleSheet dt {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

/**
 * @NOTE 2019_02_19
 *
 *      <p> elements inside of <dt> elements should have no margin. If there are
 *      multiple <p> elements they should be display directly on top of each
 *      other.
 *
 *      It is more appropriate to use two adjacent <dt> elements than to use two
 *      <p> elements inside a single <dt> element.
 */
.CBContentStyleSheet dt > p {
    margin-bottom: 0;
}

/**
 * 2017.11.30 A rare use of left an right margins because the border box should
 * be inset relative to the parent element. This allows the dd element to look
 * like a sub-element of its preceding dt element.
 */
.CBContentStyleSheet dd {
    margin: 0.5em 1em;
}

.CBContentStyleSheet hr {
    border-style: none;
    border-top: 0.1em solid var(--CBTextColor3);
    margin: 3em 8em !important;
}

/**
 * 2017.11.30 Today I found a rule here that applied a top and bottom margin of
 * 0.5em to p elements inside of dd elements. I do not know why this rule was
 * here but it was incorrect because as soon as you place a border on the dd
 * element, the first and last p elements add an awkward whitespace inside the
 * border. I'm leaving this comment for reference in case the original
 * motivation for the rule comes up again.
 */

.CBContentStyleSheet b cite,
.CBContentStyleSheet b i,
.CBContentStyleSheet cite b,
.CBContentStyleSheet cite i,
.CBContentStyleSheet i b,
.CBContentStyleSheet i cite {
    font-style: inherit;
    font-weight: inherit;
}

/**
 * @NOTE 2019_02_19
 *
 *      The vertical margins have been changed for <dl>, <ol>, <pre>, and <ul>
 *      elements that represents a change in perspective.
 *
 *      Previously, there had been attempts not to apply a top margin if the
 *      element was a first child, and not to apply a bottom margin if the
 *      element was a last child.
 *
 *      While this kind of made sense if the element was the very first or last
 *      child, it didn't really make sense elsewhere. No top and bottom margins
 *      are generally displayed for any element that has them at all times.
 */
.CBContentStyleSheet dl,
.CBContentStyleSheet ol,
.CBContentStyleSheet pre,
.CBContentStyleSheet ul {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

/**
 * @NOTE 2019_02_19
 *
 *      Applying only a bottom margin to <p> elements tends to work better than
 *      placing top and bottom margins. In many cases a <p> element is the first
 *      element and having no top margin looks good. Having a large bottom
 *      margin also looks good most of the time.
 */
.CBContentStyleSheet p {
    margin-bottom: 1.5em;
}

.CBContentStyleSheet li,
.CBContentStyleSheet li p {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

.CBContentStyleSheet pre {
    overflow-wrap: normal; /* unset inherited value */
    overflow-x: auto;
}

.CBContentStyleSheet pre.green {
    background-color: hsl(0, 0%, 15%);
    border-radius: 10px;
    color: hsl(120, 80%, 45%);
    line-height: 1.4;
    padding: 10px 15px;
}

.CBContentStyleSheet.center,
.CBContentStyleSheet .center {
    text-align: center;
}

.CBContentStyleSheet.justify,
.CBContentStyleSheet .justify {
    text-align: justify;
}

.CBContentStyleSheet.left,
.CBContentStyleSheet .left {
    text-align: left;
}

.CBContentStyleSheet .prewrap {
    white-space: pre-wrap;
}

.CBContentStyleSheet .preline {
    white-space: pre-line;
}

.CBContentStyleSheet.right,
.CBContentStyleSheet .right {
    text-align: right;
}
