.CB_View_UserProfile_rootElement
{
    box-sizing:
    border-box;

    display:
    flex;

    justify-content:
    center;

    max-width:
    100%;

    overflow-wrap:
    break-word;

    padding:
    20px;
}



.CB_View_UserProfile_contentElement
{
    max-width:
    100%;

    width:
    var(--CB_UI_readableWidth);
}



.CB_View_UserProfile_imageContainer_element
{
    padding-bottom:
    20px;
}



.CB_View_UserProfile_imageContainer_element
img
{
    border:
    1px solid var(--CB_UI_borderColor);

    border-radius:
    1000px;
}



.CB_View_UserProfile_emptyProfileImage_element
{
    background-color:
    var(--CB_UI_borderColor);

    border-radius:
    1000px;

    height:
    161px;

    width:
    161px;
}



.CB_View_UserProfile_fullNameElement
{
    font-size:
    150%;

    font-weight:
    bold;
}


.CB_View_UserProfile_bioElement,
.CB_View_UserProfile_editProfileElement,
.CB_View_UserProfile_linksElement
{
    padding-top:
    20px;
}
