.CBWellKnownThemeForContent {
  padding: 20px;
}

a.CBWellKnownThemeForContent {
  text-decoration: none;
}

.CBWellKnownThemeForContent > h1,
.CBWellKnownThemeForContent > div {
    margin: 0 auto;
    max-width: 680px;
}

a.CBWellKnownThemeForContent:hover > h1,
a.CBWellKnownThemeForContent:hover > div {
    text-decoration: underline;
}

.CBWellKnownThemeForContent > div {
    line-height: 1.5;
}

.CBWellKnownThemeForContent h1 {
    font-size: 1.5em;
}

.CBWellKnownThemeForContent > div h1 {
    margin-top: 40px; /* match title whitespace */
}

.CBWellKnownThemeForContent h1 + * {
    margin-top: 0.5em;
}

.CBWellKnownThemeForContent h2 {
    font-size: 1.25em;
}

.CBWellKnownThemeForContent h3 {
    font-size: 1em;
}

.CBWellKnownThemeForContent blockquote,
.CBWellKnownThemeForContent dd {
    padding: 0 40px;
}

.CBWellKnownThemeForContent dd + dt {
    margin-top: 0.5em;
}

.CBWellKnownThemeForContent cite {
    font-style: italic;
}

.CBWellKnownThemeForContent b cite,
.CBWellKnownThemeForContent b i,
.CBWellKnownThemeForContent cite b,
.CBWellKnownThemeForContent cite i,
.CBWellKnownThemeForContent i b,
.CBWellKnownThemeForContent i cite {
    font-style: inherit;
    font-weight: inherit;
}

.CBWellKnownThemeForContent blockquote + *,
.CBWellKnownThemeForContent dl + *,
.CBWellKnownThemeForContent ol + *,
.CBWellKnownThemeForContent p + *,
.CBWellKnownThemeForContent ul + * {
    margin-top: 1em;
}
