.CBAdminPageMenuView {
    font-size:      14px;
    margin-bottom:  50px;
}

.CBAdminPageMenuView nav a {
    display:            inline-block;
    padding:            15px 10px;
    text-decoration:    none;
    transition:         color 0.5s;
}

.CBAdminPageMenuView nav ul {
    box-sizing:                 border-box;
    display:                    flex;
    display:                    -webkit-flex;
    justify-content:            space-between;
    -webkit-justify-content:    space-between;
    list-style: none;
    margin:                     0 auto;
    max-width:                  960px;
    padding:                    0 10px;
    width:                      100%;
}

/* CBMenu */

.CBAdminPageMenuView nav.CBMenu {
    background-color:   hsla(0, 0%, 0%, 0.8);
}

.CBAdminPageMenuView nav.CBMenu a {
    color:      white;
}

.CBAdminPageMenuView nav.CBMenu li:hover a,
.CBAdminPageMenuView nav.CBMenu li.selected a {
    color: hsla(0, 0%, 100%, 0.5);
}

/* CBSubmenu */

.CBAdminPageMenuView nav.CBSubmenu {
    border-bottom:  1px solid hsl(0, 0%, 80%);
}

.CBAdminPageMenuView nav.CBSubmenu a {
    color:      hsl(0, 0%, 70%);
}

.CBAdminPageMenuView nav.CBSubmenu ul {
    justify-content:            center;
    -webkit-justify-content:    center;
}

.CBAdminPageMenuView nav.CBSubmenu li:hover a,
.CBAdminPageMenuView nav.CBSubmenu li.selected a {
    color: hsl(0, 0%, 20%);
}
