body
{
    padding-bottom: 50px;
}

.admin-page-footer-2
{
    border-top:     1px solid #efefef;
    bottom:         0px;
    color:          #9f9f9f;
    font-family:    "Source Sans Pro";
    font-size:      14px;
    font-weight:    400;
    height:         25px;
    padding-top:    5px;
    position:       absolute;
    width:          100%;
}

.admin-page-footer-2 ul
{
    padding:    0px;
    text-align: center;
}

.admin-page-footer-2 ul li
{
    display:    inline;
    margin:     0px 20px;
}
