body
{
    padding-bottom: 100px;
}

footer.standard-page-footer
{
    bottom:     0px;
    position:   absolute;
    width:      100%;
}

footer.standard-page-footer div.copyright
{
    border-top: 1px solid #dfdfdf;
    color:      #7f7f7f;
    font-size:  12px;
    padding:    5px 0px;
    text-align: center;
}
