.CBCSSVariablesHelp_test {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.CBCSSVariablesHelp_test h1,
.CBCSSVariablesHelp_test .description {
    text-align: center;
}

.CBCSSVariablesHelp_test .line {
    display: flex;
    justify-content: center;
    padding: 40px 0 80px;
}

.CBCSSVariablesHelp_test .line > .inner {
    border-bottom: 1px solid var(--CBLineColor);
    width: 150px;
}

.CBCSSVariablesHelp_test .description {
    color: var(--CBTextColor2);
    padding: 10px 0 0;
    font-style: italic;
}
