.CBCSSVariablesHelp_test {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.CBCSSVariablesHelp_test h1,
.CBCSSVariablesHelp_test .description {
    text-align: center;
}

.CBCSSVariablesHelp_test .line {
    display: flex;
    justify-content: center;
    padding: 40px 0 80px;
}

.CBCSSVariablesHelp_test .line > .inner {
    border-bottom: 1px solid var(--CBTextColor3);
    width: 150px;
}

.CBCSSVariablesHelp_test .description {
    color: var(--CBTextColor2);
    padding: 10px 0 0;
    font-style: italic;
}



.CBDarkTheme.navy
{
    --CBBackgroundColor1:
    hsl(240, 50%, 20%);

    --CBTextColor1:
    hsla(40, 100%, 60%, 0.9);
}



.CBLightTheme.yellow
{
    --CBBackgroundColor1:
    hsl(60, 100%, 95%);

    --CBTextColor1:
    hsla(120, 100%, 20%, 0.8);
}
