.CBUIExpandableRow .columns {
    display: flex;
    padding: 2px 5px;
}

.CBUIExpandableRow .columns > * {
    margin: 0px 5px;
}

.CBUIExpandableRow .toggle {
    color: var(--CBTextColorForLinks);
    cursor: pointer;
}

.CBUIExpandableRow .toggle {
    width: 50px;
}

.CBUIExpandableRow .toggle::before {
    content: "hide";
}

.CBUIExpandableRow.hidden .toggle::before {
    content: "show";
}

.CBUIExpandableRow .content {
    font-size: 80%;
    padding: 20px;
}

.CBUIExpandableRow.hidden .content {
    display: none;
}
