.CBUIImageUploader button {
    background-color: inherit;
    border: none;
    color: hsl(210, 100%, 50%);
    cursor: pointer;
    font: inherit;
    min-height: 44px;
    padding: 0;
    width: 100%;
}
