.CB_View_Moment2_root_element
{
    align-items:
    center;

    display:
    flex;

    flex-direction:
    column;

    box-sizing:
    border-box;

    max-width:
    100%;

    overflow-wrap:
    break-word;

    padding:
    100px 5%;
}



.CB_View_Moment2_root_element
a
{
    text-decoration:
    none;
}



.CB_View_Moment2_root_element
a:hover
{
    color:
    var(--CBTextColorForLinks);
}



.CB_View_Moment2_content_element
{
    background-color:
    var(--CB_UI_accentPaperColorGray);

    border:
    1px solid var(--CB_UI_borderColor);

    border-radius:
    3px;

    box-sizing:
    border-box;

    max-width:
    100%;

    overflow:
    hidden;

    width:
    480px;
}



.CB_View_Moment2_root_element
img
{
    box-sizing:
    border-box;
}



.CB_View_Moment2_root_element
picture
{
    box-sizing:
    border-box;

    display:
    flex;

    justify-content:
    center;

    max-width:
    100%;
}



.CB_View_Moment2_text_element
{
    max-width:
    100%;

    padding:
    10px 0;

    white-space:
    pre-wrap;
}



.CB_View_Moment2_textCard_element
{
    box-sizing:
    border-box;

    max-width:
    100%;

    padding:
    10px 20px;
}



a +
.CB_View_Moment2_textCard_element
{
    border-top:
    1px solid var(--CB_UI_borderColor);
}



.CB_View_Moment2_nameAndDate_element
{
    color:
    var(--CBTextColor3);

    font-size:
    80%;
}



.CB_View_Moment2_text_element +
.CB_View_Moment2_nameAndDate_element
{
    padding-top:
    10px;
}


.CB_View_Moment2_nameAndDate_element
a
{
    color:
    var(--CBTextColor3);

    text-decoration:
    none;
}



.CB_View_Moment2_links_element
{
    color:
    var(--CBTextColor3);

    font-size:
    80%;

    padding-top:
    10px;
}



.CB_View_Moment2_links_element
a
{
    color:
    var(--CBTextColor3);

    text-decoration:
    none;
}



.CB_View_Moment2_links_element
a:hover
{
    color:
    var(--CBTextColorForLinks);
}
