.CBFlexBoxViewEditor {
    box-sizing: border-box;
    font-size:  14px;
    padding:    10px;
}

.CBFlexBoxViewEditor > .container {
    display:                    flex;
    display:                    -webkit-flex;
    justify-content:            center;
    -webkit-justify-content:    center;
}

.CBFlexBoxViewEditor > .container .row {
    align-items:                center;
    -webkit-align-items:        center;
    display:                    flex;
    display:                    -webkit-flex;
    flex-wrap:                  wrap;
    -webkit-flex-wrap:          wrap;
    justify-content:            space-around;
    -webkit-justify-content:    space-around;
    line-height:                2;
}

.CBFlexBoxViewEditor > .container > .options {
    border-left:    1px solid hsl(0, 0%, 80%);
    margin-left:    10px;
    padding-left:   10px;
    width:          400px;
}

.CBFlexBoxViewEditor > .container > .options > h2 {
    border-top: 1px solid hsl(0, 0%, 80%);
    color:      hsl(0, 0%, 50%);
    font:       inherit;
    margin:     10px 0 0;
    text-align: center;
}

.CBFlexBoxViewEditor > .container > .options .CBStringEditor select,
.CBFlexBoxViewEditor > .container > .options .CBStringEditor input {
    margin-left: 5px;
}

.CBFlexBoxViewEditor > .container > .options .CBStringEditor input {
    padding: 4px;
}

.CBFlexBoxViewEditor > .container > .options .CBStringEditor.flex input {
    width: 75px;
}

.CBFlexBoxViewEditor > .container > .options .CBStringEditor.pixels input {
    width: 50px;
}

.CBFlexBoxViewEditor > .subviews {
    background-color:   white;
    border:             1px solid hsl(0, 0%, 80%);
    margin-top:         10px;
}
