.CBUIExpander {
    box-sizing: border-box;
    max-width: 100%;
    padding: 10px 15px;
}

.CBUIExpander > .container {
    background-color: var(--CBBackgroundColor);
    border: 1px solid var(--CBLineColor);
    border-radius: 5px;
    overflow: hidden;
}

.CBUIExpander > .container > .header {
    display: flex;
}

.CBUIExpander > .container > .header > .toggle {
    background-color: var(--CBButtonBackgroundColor);
    border-bottom-right-radius: 5px;
    color: var(--CBButtonTextColor);
    font-size: 80%;
    padding: 5px 10px;
    text-align: center;
    text-transform: lowercase;
    user-select: none;
    width: 3em;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.CBUIExpander.severity4 > .container > .header > .toggle {
    background-color: orange;
}

.CBUIExpander.severity3 > .container > .header > .toggle {
    background-color: red;
}

.CBUIExpander.severity2 > .container > .header > .toggle {
    background-color: hsl(300, 50%, 50%);
}

.CBUIExpander.severity1 > .container > .header > .toggle {
    background-color: hsl(300, 50%, 25%);
}

.CBUIExpander.severity0 > .container > .header > .toggle {
    background-color: hsl(0, 0%, 0%);
}

.CBUIExpander > .container > .header > .toggle::before {
    content: "Show";
}

.CBUIExpander.expanded > .container > .header > .toggle::before {
    content: "Hide";
}

.CBUIExpander > .container > .header time {
    color: var(--CBTextColor2);
    font-size: 80%;
    padding: 5px 10px;
}

.CBUIExpander > .container > .summary {
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBUIExpander.expanded > .container > .summary {
    display: none;
}

.CBUIExpander > .container > .message {
    display: none;
    overflow-y: scroll;
    padding: 10px;
}

.CBUIExpander.expanded > .container > .message {
    display: block;
}
