.CBUIExpander
{
    box-sizing:
    border-box;

    max-width:
    100%;

    overflow-wrap:
    break-word;

    padding:
    20px 10px;
}



.CBUIExpander_container {
    border: 1px solid var(--CB_UI_borderColor);
    border-radius: 3px;
    overflow: hidden;
}



.CBUIExpander_header
{
    background-color:
    var(--CB_UI_borderColor);

    display:
    flex;

    -webkit-user-select:
    none;

    user-select:
    none;
}



.CBUIExpander_toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    flex: none;
    min-height: 50px;
    user-select: none;
    width: 50px;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}



/**
 * @NOTE 2022_10_29_1667052181
 *
 *      Safari won't apply ligature replacements to the text of the content
 *      property so we must use the code point instead.
 */

.CBUIExpander_toggle::before
{
    /* expand_more */
    content: "\e5cf";
}



.CBUIExpander.expanded
.CBUIExpander_toggle::before
{
    /* expand_less */
    content: "\e5ce";
}



.CBUIExpander.severity7
.CBUIExpander_severityIndicator_root_element
{
    background-color:
    var(--CB_UI_color_solidBlue);
}



.CBUIExpander.severity7
.CBUIExpander_severityIndicator_text_element::before
{
    content: "7";
}



.CBUIExpander.severity6
.CBUIExpander_severityIndicator_root_element
{
    background-color:
    var(--CB_UI_borderColor);
}



.CBUIExpander.severity6
.CBUIExpander_severityIndicator_text_element::before
{
    content: "6";
}



.CBUIExpander.severity5
.CBUIExpander_severityIndicator_root_element
{
    background-color:
    var(--CB_UI_color_solidYellow);
}



.CBUIExpander.severity5
.CBUIExpander_severityIndicator_text_element::before
{
    content: "5";
}



.CBUIExpander.severity4
.CBUIExpander_severityIndicator_root_element
{
    background-color:
    var(--CB_UI_color_solidOrange);
}



.CBUIExpander.severity4
.CBUIExpander_severityIndicator_text_element::before
{
    content: "4";
}



.CBUIExpander.severity3
.CBUIExpander_severityIndicator_root_element
{
    background-color:
    var(--CB_UI_color_solidRed);
}



.CBUIExpander.severity3
.CBUIExpander_severityIndicator_text_element::before
{
    content: "3";
}



.CBUIExpander.severity2
.CBUIExpander_severityIndicator_root_element
{
    background-color:
    var(--CB_UI_color_solidRed);
}



.CBUIExpander.severity2
.CBUIExpander_severityIndicator_text_element::before
{
    content: "2";
}



.CBUIExpander.severity1
.CBUIExpander_severityIndicator_root_element
{
    background-color:
    var(--CB_UI_color_solidRed);
}



.CBUIExpander.severity1
.CBUIExpander_severityIndicator_text_element::before
{
    content: "1";
}



.CBUIExpander.severity0
.CBUIExpander_severityIndicator_root_element
{
    background-color:
    var(--CB_UI_color_solidRed);
}



.CBUIExpander.severity0
.CBUIExpander_severityIndicator_text_element::before
{
    content: "0";
}



.CBUIExpander_headerTextContainer
{
    display:
    flex;

    flex-direction:
    column;

    flex-grow:
    1;

    justify-content:
    center;

    /* required for ellipsis of CBUIExpander_title */
    min-width:
    0;

    padding:
    3px 0;
}



.CBUIExpander_title,
.CBUIExpander_timeContainer {
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBUIExpander_timeContainer {
    color: var(--CBTextColor2);
    font-size: 70%;
}

.CBUIExpander_contentContainer {
    display: none;
    overflow-y: scroll;
}



.CBUIExpander_severityIndicator_root_element
{
    box-sizing:
    border-box;

    padding:
    5px;
}



.CBUIExpander_severityIndicator_text_element
{
    align-items:
    center;

    background-color:
    var(--CB_UI_paperColor);

    border-radius:
    10px;

    display:
    flex;

    font-weight:
    bold;

    font-size:
    10px;

    height:
    20px;

    justify-content:
    center;

    width:
    20px;

}



.CBUIExpander.expanded .CBUIExpander_contentContainer {
    display: block;
}

.CBUIExpander_message {
    padding: 10px;
}
