.CBUIExpander {
    box-sizing: border-box;
    max-width: 100%;
    padding: 10px;
}

.CBUIExpander_container {
    background-color: var(--CBBackgroundColor);
    border: 1px solid var(--CBUIBorderColor);
    border-radius: 5px;
    overflow: hidden;
}

.CBUIExpander_header {
    display: flex;
}

.CBUIExpander.expanded .CBUIExpander_header {
    border-bottom: 1px solid var(--CBUIBorderColor);
}

.CBUIExpander_toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: hsl(210, 100%, 45%); /* severity 6: informational */
    box-sizing: border-box;
    color: hsla(0, 100%, 100%, 0.9);
    flex: none;
    min-height: 50px;
    user-select: none;
    width: 50px;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.CBUIExpander_toggle::before {
    content: "▶";
}

.CBUIExpander.expanded .CBUIExpander_toggle::before {
    transform: rotate(90deg);
}

.CBUIExpander.severity7 .CBUIExpander_toggle {
    background-color: hsl(210, 100%, 70%);
}

.CBUIExpander.severity6 .CBUIExpander_toggle {
    /* uses default color */
}

.CBUIExpander.severity5 .CBUIExpander_toggle {
    background-color: hsl(120, 50%, 40%); /* green */
}

.CBUIExpander.severity4 .CBUIExpander_toggle {
    background-color: hsl(30, 100%, 50%); /* orange */
}

.CBUIExpander.severity3 .CBUIExpander_toggle {
    background-color: hsl(0, 100%, 50%); /* red */
}

.CBUIExpander.severity2 .CBUIExpander_toggle {
    background-color: hsl(0, 100%, 40%);
}

.CBUIExpander.severity1 .CBUIExpander_toggle {
    background-color: hsl(0, 50%, 30%);
}

.CBUIExpander.severity0 .CBUIExpander_toggle {
    background-color: hsl(0, 0%, 0%); /* black */
}

.CBUIExpander_headerTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px 0;

    /* required for ellipsis of CBUIExpander_title */
    min-width: 0;
}

.CBUIExpander_title,
.CBUIExpander_timeContainer {
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBUIExpander_timeContainer {
    color: var(--CBTextColor2);
    font-size: 70%;
}

.CBUIExpander_contentContainer {
    display: none;
    overflow-y: scroll;
}

.CBUIExpander.expanded .CBUIExpander_contentContainer {
    display: block;
}

.CBUIExpander_message {
    padding: 10px;
}
