.CBStandardBodyTextTheme {
  padding: 20px;
}

a.CBStandardBodyTextTheme {
  text-decoration: none;
}

.CBStandardBodyTextTheme > h1,
.CBStandardBodyTextTheme > div {
    margin: 0 auto;
    max-width: 680px;
}

a.CBStandardBodyTextTheme:hover > h1,
a.CBStandardBodyTextTheme:hover > div {
    text-decoration: underline;
}

.CBStandardBodyTextTheme > div {
    line-height: 1.5;
}

.CBStandardBodyTextTheme h1 {
    font-size: 1.5em;
}

.CBStandardBodyTextTheme > div h1 {
    margin-top: 40px; /* match title whitespace */
}

.CBStandardBodyTextTheme h1 + * {
    margin-top: 10px;
}

.CBStandardBodyTextTheme h2 {
    font-size: 1.25em;
}

.CBStandardBodyTextTheme h3 {
    font-size: 1em;
}

.CBStandardBodyTextTheme blockquote,
.CBStandardBodyTextTheme dd {
    padding: 0 40px;
}

.CBStandardBodyTextTheme cite {
    color: hsl(0, 0%, 50%);
    font-style: italic;
}

.CBStandardBodyTextTheme b cite,
.CBStandardBodyTextTheme b i,
.CBStandardBodyTextTheme cite b,
.CBStandardBodyTextTheme cite i,
.CBStandardBodyTextTheme i b,
.CBStandardBodyTextTheme i cite {
    font-style: inherit;
    font-weight: inherit;
}

.CBStandardBodyTextTheme blockquote + *,
.CBStandardBodyTextTheme dl + *,
.CBStandardBodyTextTheme ol + *,
.CBStandardBodyTextTheme p + *,
.CBStandardBodyTextTheme ul + * {
    margin-top: 1em;
}
