.CBStandardBodyTextTheme {
  padding: 20px;
}

a.CBStandardBodyTextTheme {
  text-decoration: none;
}

.CBStandardBodyTextTheme > h1,
.CBStandardBodyTextTheme > div {
  margin: 0 auto;
  max-width: 680px;
}

a.CBStandardBodyTextTheme > h1,
a.CBStandardBodyTextTheme > div {
  color: #3f3fef;
}

a.CBStandardBodyTextTheme:hover > h1,
a.CBStandardBodyTextTheme:hover > div {
  text-decoration: underline;
}

.CBStandardBodyTextTheme cite {
  color: hsl(0, 0%, 50%);
  font-style: italic;
}

.CBStandardBodyTextTheme b > i,
.CBStandardBodyTextTheme i > b {
  font-style: italic;
  font-weight: 300;
}

.CBStandardBodyTextTheme > h1 {
  font-size: 36px;
  font-weight: 300;
}

.CBStandardBodyTextTheme > h1 + div {
  margin-top: 20px;
}

.CBStandardBodyTextTheme > div {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.CBStandardBodyTextTheme > div > * + * {
  margin-top: 1em;
}

.CBStandardBodyTextTheme > div > h1,
.CBStandardBodyTextTheme > div > h2,
.CBStandardBodyTextTheme > div > h3 {
  font-weight: 300;
}

.CBStandardBodyTextTheme > div > h1 {
  font-size: 28px;
}

.CBStandardBodyTextTheme > div > h2 {
  font-size: 24px;
}

.CBStandardBodyTextTheme > div > h3 {
  font-size: 20px;
}
