.CBMenuItemEditor {
    border-top: 4px solid hsl(300, 50%, 60%);
    box-sizing: border-box;
    font-size:  14px;
    min-width:  320px;
    padding:    5px 10px 10px;
}

.CBMenuItemEditor > .CBStringEditor + .CBStringEditor {
    margin-top: 10px;
}

.CBMenuItemEditor > .CBStringEditor input {
    padding:    4px;
    width:      100%;
}
