.CBTextView2StandardLayout {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.CBTextView2StandardLayout.center {
    text-align: center;
}

/* deprecated: use CBLightTheme to get dark text */
.CBTextView2StandardLayout.dark {
    color: hsla(0, 0%, 0%, 0.9); /* CBTextColor for CBLightTheme */
}

.CBTextView2StandardLayout.justify {
    text-align: justify;
}

/* deprecated: use CBDarkTheme to get dark text */
.CBTextView2StandardLayout.light {
    color: hsla(0, 0%, 100%, 0.9); /* CBTextColor for CBDarkTheme */
}

.CBTextView2StandardLayout.right {
    text-align: right;
}

.CBTextView2StandardLayout > div {
    flex: 0 1 36em;
}

.CBTextView2StandardLayout {
    line-height: 1.5;
}

.CBTextView2StandardLayout h1 {
    font-size: 1.25em;
}

.CBTextView2StandardLayout h2 {
    font-size: 1em;
}

.CBTextView2StandardLayout h3 {
    color: var(--CBTextColor2);
    font-size: 1em;
}

.CBTextView2StandardLayout blockquote,
.CBTextView2StandardLayout dd {
    padding: 0 40px;
}

.CBTextView2StandardLayout dd + dt {
    margin-top: 0.5em;
}

.CBTextView2StandardLayout pre {
    white-space: pre-wrap;
}

.CBTextView2StandardLayout cite {
    font-style: italic;
}

.CBTextView2StandardLayout b cite,
.CBTextView2StandardLayout b i,
.CBTextView2StandardLayout cite b,
.CBTextView2StandardLayout cite i,
.CBTextView2StandardLayout i b,
.CBTextView2StandardLayout i cite {
    font-style: inherit;
    font-weight: inherit;
}

.CBTextView2StandardLayout blockquote + *,
.CBTextView2StandardLayout dl + *,
.CBTextView2StandardLayout ol + *,
.CBTextView2StandardLayout p + *,
.CBTextView2StandardLayout pre + *,
.CBTextView2StandardLayout ul + * {
    margin-top: 1.5em;
}
