.CB_CBView_Moment_root_element
{
    display:
    flex;

    justify-content:
    center;

    box-sizing:
    border-box;

    max-width:
    100%;

    overflow-wrap:
    break-word;

    padding:
    40px 20px;
}



.CB_CBView_Moment_root_element
a
{
    text-decoration:
    none;
}



.CB_CBView_Moment_root_element
a:hover
{
    border-color:
    var(--CBTextColorForLinks);

    color:
    var(--CBTextColorForLinks);
}



.CB_CBView_Moment_content_element
{
    box-sizing:
    border-box;

    max-width:
    100%;

    overflow:
    hidden;
}



.CB_CBView_Moment_userLink_element
{
    color:
    inherit;
}



.CB_CBView_Moment_timeContainer_element
{
    color:
    inherit;
}



.CB_CBView_Moment_content_element
{
    width:
    var(--CB_UI_readableWidth);
}



.CB_CBView_Moment_momentPage
.CB_CBView_Moment_content_element
{
    width:
    40em;
}



.CB_CBView_Moment_header_element
{
    display:
    flex;

    justify-content:
    space-between;

    color:
    var(--CBTextColor3);
}



.CB_CBView_Moment_text_element
{
    padding:
    10px 0 0;

    white-space:
    pre-wrap;
}



.CB_CBView_Moment_momentPage
.CB_CBView_Moment_text_element
{
    font-size:
    150%;
}



.CB_CBView_Moment_pictureContainer_element
{
    padding-top:
    10px;
}



.CB_CBView_Moment_picture_element
{
    display:
    flex;

    justify-content:
    start;

    max-width:
    100%;
}



.CB_CBView_Moment_root_element
img
{
    border:
    1px
    solid
    var(--CB_UI_borderColor);

    border-radius:
    3px;

    box-sizing:
    border-box;
}



.CB_CBView_Moment_footer_element
{
    display:
    flex;

    padding-top:
    20px;
}



.CB_CBView_Moment_footer_element >
a + a
{
    margin-left:
    20px;
}
