.CB_CBView_Moment_root_element {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
    overflow-wrap: break-word;

    padding: 40px 20px;
}



.CB_CBView_Moment_content_element {
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
}



.CB_CBView_Moment_root_element
.CB_CBView_Moment_userLink_element {
    color: inherit;
}



.CB_CBView_Moment_root_element
.CB_CBView_Moment_timeContainer_element {
    color: inherit;
}



.CB_CBView_Moment_standard_element
.CB_CBView_Moment_content_element {
    width: var(--CB_UI_readableWidth);
}



.CB_CBView_Moment_standard_element.CB_CBView_Moment_momentPage
.CB_CBView_Moment_content_element {
    width: 40em;
}



.CB_CBView_Moment_standard_element
.CB_CBView_Moment_header_element {
    color: var(--CBTextColor3);
}



.CB_CBView_Moment_standard_element
.CB_CBView_Moment_text_element {
    padding: 10px 0 20px;
    white-space: pre-wrap;
}



.CB_CBView_Moment_standard_element.CB_CBView_Moment_momentPage
.CB_CBView_Moment_text_element {
    font-size: 150%;
}



.CB_CBView_Moment_imageContainer_element {
    xpadding: 0 10px 10px;
}



.CB_CBView_Moment_image_element {
    display: block;
    box-sizing: border-box;

    border-width: 1px;
    border-color: var(--CB_UI_borderColor);
    border-radius: 10px;
    border-style: solid;
    width: 100%;
}
