.CBViewEditorChrome > header h1
{
    font-size: 18px;
}

.CBViewEditorChrome.CBViewEditorStandardChrome
{
    border-color:   #f8f4ec;
    border-radius:  20px;
    border-style:   solid;
    border-width:   5px 10px 10px;
}

.CBViewEditorChrome.CBViewEditorStandardChrome > header
{
    background-color:   #f8f4ec;
    padding:            0 10px 10px;
    text-align:         center;
}
