.CBViewEditorChrome.CBImageViewEditorChrome
{
    background-color:   hsl(120, 50%, 90%);
    border-color:       hsl(120, 50%, 90%);
    border-radius:      5px;
    border-style:       solid;
    border-width:       5px 10px 10px;
    margin:             0 auto;
    width:              480px;
}

.CBViewEditorChrome.CBImageViewEditorChrome > header
{
    padding:            0 10px 10px;
    text-align:         center;
}

.CBImageViewEditor > button
{
    display:    block;
    margin:     10px auto 30px;
}

.CBImageViewEditor > img
{
    background-color:   hsl(0, 0%, 100%);
    display:            block;
    margin:             10px auto;
    max-height:         200px;
    max-width:          400px;
    padding:            40px;
}

.CBImageViewEditor > img.dark-background
{
    background-color:   hsl(0, 0%, 20%);
}

.CBImageViewEditor > img + div
{
    color:      #808080;
    font-size:  13px;
    text-align: center;
}

.CBImageViewEditor .CBTextViewEditor
{
    margin: 10px auto 0;
    width: 480px;
}

.CBImageViewEditor .CBTextViewEditor input
{
    width: 480px;
}