.CBSitePreferencesEditor {
    box-sizing: border-box;
    max-width: 100%;
    width: 640px;
}

.CBSitePreferencesEditor .CBBooleanEditor {
    padding: 10px;
}

.CBSitePreferencesEditor .CBBooleanEditor label {
    margin-left: 5px;
}
