.CB_View_SVGBarChart1_root_element
{
    box-sizing:
    border-box;

    display:
    flex;

    justify-content:
    center;

    max-width:
    100%;

    overflow-wrap:
    break-word;
}



.CB_View_SVGBarChart1_content_element
{
    max-width: 100%;
}



.CB_View_SVGBarChart1_svg_element
{
    max-width:
    100%;
}



.CB_View_SVGBarChart1_barBackground_element
{
    fill:
    var(--CB_UI_color_solidText10);
}



.CB_View_SVGBarChart1_color_gray
{
    fill:
    var(--CB_UI_color_solidText60);
}


.CB_View_SVGBarChart1_color_red
{
    fill:
    var(--CB_UI_color_solidRed);
}



.CB_View_SVGBarChart1_color_green
{
    fill:
    var(--CB_UI_color_solidGreen);
}
