.CBUIThumbnailPart {
    display: flex;
    align-items: start;
    justify-content: center;

    flex: none;

    min-height: 44px;
    width: 48px; /* 38 + 5 + 5 */

    box-sizing: border-box;
    padding: 8px 5px;
}



.CBUIThumbnailPart img {
    display: none;

    height: 38px;
    width: 38px;

    border-radius: 4px;
    object-fit: cover;
}



/**
 * The "show" class will be added by the CBUIThumbnailPart object when a the
 * "src" property is set and removed when it is unset.
 */
.CBUIThumbnailPart.show img {
    display: block;
}



/**
 * The "contain" class is optional to be added by the developer.
 */
.CBUIThumbnailPart.contain img {
    object-fit: contain;
}



/**
 * The "large" class is optional to be added by the developer. It only takes
 * affect if the width is 480px or greater.
 */
@media (min-width: 480px) {
    .CBUIThumbnailPart.large {
        min-height: 110px;
        width: 110px; /* 100 + 5 + 5 */
    }

    .CBUIThumbnailPart.large img {
        height: 100px;
        width: 100px;
    }
}
