.CBUISelectableItem {
    display: flex;
    max-width: 100%;
}

.CBUISelectableItem > .parts {
    display: flex;
    flex: 1 1 auto;

    min-width: 0;
}

.CBUISelectableItem > .selectorPart {
    align-items: center;
    color: transparent;
    display: none;
    flex: none;
    min-height: 44px;
    padding: 0 5px;
}

.CBUISelectableItem > .selectorPart > .box {
    align-items: center;
    border-color: var(--CB_UI_borderColor);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
}
.CBUISelectableItem.selected > .selectorPart {
    color: var(--CBTextColorForLinks);
}

.CBUISelectableItem.selectable > .selectorPart {
    display: flex;
}

.cbu
