.CBAdminPageForID header {
    text-align: center;
}

.CBAdminPageForID header h1 > span {
    display: block;
    font-family: monospace;
    font-weight: normal;
    font-size: 12px;
}

.CBAdminPageForID section {
    padding: 20px;
}

.CBUIOpener {
    margin: 20px 0;
}

.CBUIOpener .button {
    color: var(--CBTextColorForLinks);
}

.CBUIOpener .button::before {
    content: "show";
}

.CBUIOpener.show .button::before {
    content: "hide";
}

.CBUIOpener .content {
    margin: 20px;
    display: none;
}

.CBUIOpener.show .content {
    display: block;
}

.CBAdminPageForID .JSON {
    font-family: monospace;
    font-size: 12px;
    max-width: 100%;
    overflow: hidden;
    white-space: pre;
}

.CBAdminPageForID dl {
    margin: 15px 20px;
    vertical-align: top;
}

.CBAdminPageForID dl dt {
    font-weight: bold;
}

.CBAdminPageForID dl dd .hash {
    font-family: monospace;
    font-size: 80%;
}
