.CBTestAdmin .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.CBTestAdmin .buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.CBTestAdmin img {
    height: 90px;
    margin-bottom: 5px;
    width: 160px;
}

.CBTestAdmin .status {
    padding: 10px;
}

.CBTestAdmin .line.error {
    color: hsl(30, 50%, 50%);
    padding: 0 10px;
}

.CBTestAdmin .line.failure {
    color: hsl(0, 50%, 50%);
    padding-bottom: 5px;
}

.CBTestAdmin .line.success {
    color: hsl(120, 50%, 50%);
    padding-bottom: 5px;
}

main + .flex-fill {
    display: none;
}
