.CBTestAdmin .buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.CBTestAdmin img {
    display: block;
    height: 90px;
    margin: 5px auto;
    width: 160px;
}
