.CBLibraryListView {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.CBStatusWidget {
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    min-height: 100px;
    padding: 10px;
}

.CBStatusWidget > .card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);
    padding: 7px;
    width: 320px;
}

.CBStatusWidget > .card > .border {
    border-color: hsl(0, 0%, 90%);
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.CBStatusWidget h1 {
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 0px;
    text-align: center;
}

.CBStatusWidget h2 {
    color: var(--CBTextColor2);
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.CBStatusWidget .number {
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
    text-align: center;
}

/**
 * CBAdminPageDuplicateURIsView
 */

.CBURIItem {
    padding: 10px;
}
