.CBBackgroundViewEditor {
    padding:             10px;
}

.CBBackgroundViewEditor > .properties {
    display:                    flex;
    display:                    -webkit-flex;
    justify-content:            center;
    -webkit-justify-content:    center;
    padding-bottom:             10px;
}

.CBBackgroundViewEditor > .properties > .options {
    border:     1px solid hsl(0, 0%, 80%);;
    padding:    5px 10px;
}

.CBBackgroundViewEditor > .properties > .options.options2 {
    margin-left:    20px;
    width:          440px;
}

.CBBackgroundViewEditor > .properties > .options > * {
    padding: 5px 0;
}

.CBBackgroundViewEditor > .properties > .options > .CBBooleanEditor label {
    margin-left: 5px;
}

.CBBackgroundViewEditor > .properties > .options > .CBStringEditor {
    display:    flex;
    display:    -webkit-flex;
    margin:     5px auto 0;
}

.CBBackgroundViewEditor > .properties > .options > .CBStringEditor input {
    padding:    5px; margin-left: 5px;
    -webkit-flex: 1;
}

.CBBackgroundViewEditor > .children {
    background-color:   white;
    border:             1px solid hsl(0, 0%, 80%);;
}
