.CBViewEditorChrome.CBBackgroundViewEditorChrome
{
    border-color:   hsl(30, 50%, 85%);
    border-radius:  20px;
    border-style:   solid;
    border-width:   5px 10px 10px;
    margin:         20px;
}

.CBViewEditorChrome.CBBackgroundViewEditorChrome > header
{
    background-color:   hsl(30, 50%, 85%);
    padding:            0 10px 10px;
    text-align:         center;
}

.CBBackgroundViewEditor > .CBModelArrayEditor
{
    background-color: white;
}

.CBBackgroundViewEditorControls
{
    background-color:   hsl(30, 50%, 85%);
    overflow:           hidden;     /* Contain margins */
}

.CBBackgroundViewEditorControls > button
{
    display:    block;
    margin:     10px auto 30px;
}

.CBBackgroundViewEditorControls > img
{
    border:     40px solid white;
    display:    block;
    margin:     10px auto;
    max-height: 200px;
    max-width:  90%;
}

.CBBackgroundViewEditorControls > img + div
{
    color:      #808080;
    font-size:  13px;
    text-align: center;
}

.CBBackgroundViewEditorControls > .options
{
    text-align: center;
}

.CBBackgroundViewEditorControls > .options label + input
{
    margin-left: 50px;
}

.CBBackgroundViewEditorControls > .text-field
{
    margin: 15px auto;
    width:  480px;
}

.CBBackgroundViewEditorControls > .text-field label
{
    display:        block;
}

.CBBackgroundViewEditorControls > .text-field input
{
    width: 100%;
}
