.CBUIStringEditor {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 3px 10px;
}

.CBUIStringEditor label {
    color: hsla(0, 0%, 0%, 0.6); /* IE11 */
    color: var(--CBTextColor2);
}

.CBUIStringEditor input,
.CBUIStringEditor textarea {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    line-height: 1.4;
    min-height: 1.4em; /* 1 */
    outline: none;
    padding: 0;
    resize: none;

    -ms-overflow-style: none; /* hide scrollbars on IE11 */
}

/* 1: Setting the line height and min-height is important because of an odd edge
      case. If a CBUIStringEditor is added as display: none, and then is set to
      display: block the textarea will have no height if min-height isn't set.
      By setting the line-height and min-height we can guarantee the heights are
      the same.

      There is still uncertainty regarding fractional pixels. The `font-size`
      property seems to truncate calculated values but height does not. However
      it's undercertain and unlikely that height would not truncte the value.
 */
