.CBUITitleAndDescriptionPart {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    min-height: 44px;
    padding: 3px 10px;
}

.CBUITitleAndDescriptionPart > .description {
    color: var(--CBTextColor2);
    font-size: 80%;
}
