.CBUITitleAndDescriptionPart {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    min-height: 44px;
    padding: 3px 0;

    /* ellipsis */
    min-width: 0;
}

.CBUITitleAndDescriptionPart > * {
    padding: 0 10px;

    /* ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CBUITitleAndDescriptionPart > .description {
    color: var(--CBTextColor2);
    font-size: 80%;
}
