.CBAdminPageFooterView
{
    background-color:
    var(--CB_UI_accentPaperColorGray);

    border-top:
    1px solid var(--CB_UI_borderColor);

    color:
    hsl(0, 0%, 60%);

    font-size:
    12px;

    font-weight:
    400;

    padding:
    10px 10px 20px;
}



.CBAdminPageFooterView
ul
{
    padding:
    0;

    text-align:
    center;
}



.CBAdminPageFooterView
ul
li
{
    display:
    inline-block;

    margin:
    5px 20px;
}
