.CBDefaultPageHeaderView {
    text-align: center;
}

.CBDefaultPageHeaderView ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    min-height: 44px;
    padding: 0;
}

.CBDefaultPageHeaderView li > a {
    color: inherit;
    padding: 5px 10px;
    text-decoration: inherit;
}

.CBDefaultPageHeaderView li > a:hover {
    color: var(--CBTextColor2);
}
