.CBArtworkView {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.CBArtworkView .caption {
    border-bottom: 1px solid var(--CBFaintLineColor);
    font-size: 80%;
    padding: 5px 0;
    max-width: 560px;
}

.CBArtworkView .pin {
    font-size: 80%;
    margin-top: 5px;
}

/**
 * This should be the default cursor but I think Pinterest JavaScript is doing
 * something to change it.
 */
.CBArtworkView a {
    cursor: pointer;
}

.CBArtworkView a:hover {
    text-decoration: underline;
}
