/**
 * The `max-width: 100%` declaration is present for situations where this
 * element is the child of a `display: flex` parent. In this situation elements
 * are not constrained by the parent element's width. However, CBArtworkView
 * elements should be constrained by their parent element's width in this
 * scenario.
 */
.CBArtworkView {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
}

.CBArtworkView .CBArtworkView_caption {
    box-sizing: border-box;
    color: var(--CBTextColor2);
    font-size: 80%;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}



.CBArtworkView.left .CBArtworkView_caption,
.CBArtworkView.CBArtworkView_captionLeft .CBArtworkView_caption
{
    text-align: left;
}



.CBArtworkView.right .CBArtworkView_caption
.CBArtworkView.CBArtworkView_captionRight .CBArtworkView_caption
{
    text-align: right;
}



.CBArtworkView .CBArtworkView_socialMedia {
    border-top: 0.5px solid var(--CBTextColor3);
    box-sizing: border-box;
    font-size: 80%;
    margin-top: 20px;
    padding: 0 5px;
    text-align: center;
}

.CBArtworkView.hideSocial .CBArtworkView_socialMedia {
    display: none;
}

/**
 * This should be the default cursor but I think Pinterest JavaScript is doing
 * something to change it.
 */
.CBArtworkView a {
    cursor: pointer;
}

.CBArtworkView a:hover {
    text-decoration: underline;
}
