/**
 * The `max-width: 100%` declaration is present for situations where this
 * element is the child of a `display: flex` parent. In this situation elements
 * are not constrained by the parent element's width. However, CBArtworkView
 * elements should be constrained by their parent element's width in this
 * scenario.
 */

.CBArtworkView_root_element
{
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    max-width: 100%;
    padding: 20px;
}



.CBArtworkView_root_element
.CBArtworkView_caption
{
    box-sizing: border-box;
    color: var(--CBTextColor2);
    font-size: 80%;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}



.CBArtworkView_root_element.left
.CBArtworkView_caption,

.CBArtworkView_root_element.CBArtworkView_captionLeft
.CBArtworkView_caption
{
    text-align: left;
}



.CBArtworkView_root_element.right
.CBArtworkView_caption,

.CBArtworkView_root_element.CBArtworkView_captionRight
.CBArtworkView_caption
{
    text-align: right;
}



.CBArtworkView_root_element
.CBArtworkView_socialMedia
{
    border-top: 0.5px solid var(--CBTextColor3);
    box-sizing: border-box;
    font-size: 80%;
    margin-top: 20px;
    padding: 0 5px;
    text-align: center;
}



.CBArtworkView_root_element.hideSocial
.CBArtworkView_socialMedia
{
    display: none;
}



/**
 * This should be the default cursor but I think Pinterest JavaScript is doing
 * something to change it.
 */

.CBArtworkView_root_element
a
{
    cursor: pointer;
}



.CBArtworkView_root_element
a:hover
{
    text-decoration: underline;
}
