.CBPageListView2StandardLayout {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    margin-top: 20px;
}

.CBPageListView2StandardLayout.dark {
    color: var(--CBDarkThemeTextColor);
}

.CBPageListView2StandardLayout.light {
    color: var(--CBLightThemeTextColor);
}

.CBPageListView2StandardLayout > article {
    background-color: var(--CBDefaultThemeBackgroundColorForPanel);
    margin-bottom: 60px;
    max-width: 100%;
    width: 600px;
}

.CBPageListView2StandardLayout.dark > article {
    background-color: var(--CBDarkThemeBackgroundColorForPanel);
}

.CBPageListView2StandardLayout.light > article {
    background-color: var(--CBLightThemeBackgroundColorForPanel);
}

.CBPageListView2StandardLayout > article > .published,
.CBPageListView2StandardLayout > article > .title,
.CBPageListView2StandardLayout > article > .description {
    display: block; /* title is an anchor */
    margin: 10px 15px;
}

.CBPageListView2StandardLayout > article > .published {
    font-size: 80%;
    text-transform: uppercase;
    text-align: right;
}

.CBPageListView2StandardLayout > article > .published,
.CBPageListView2StandardLayout > article > .description {
    color: var(--CBDefaultThemeTextColor2);
}

.CBPageListView2StandardLayout.dark > article > .published,
.CBPageListView2StandardLayout.dark > article > .description {
    color: var(--CBDarkThemeTextColor2);
}

.CBPageListView2StandardLayout.light > article > .published,
.CBPageListView2StandardLayout.light > article > .description {
    color: var(--CBLightThemeTextColor2);
}

.CBPageListView2StandardLayout > article > .title {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 600px) {
    .CBPageListView2StandardLayout > article {
        background-color: transparent;
        border-width: 0;
    }
}

.CBPageListView2StandardLayout > .more {
    border: 1px solid var(--CBDefaultThemeLineColor);
    border-radius: 5px;
    margin-bottom: 60px;
    padding: 10px;
}
