.CB_View_TagStickerBar_root_element
{
    display:
    flex;

    flex-wrap:
    wrap;

    justify-content:
    center;

    min-height:
    35px;
}



.CB_View_TagStickerBar_root_element
img
{
    margin:
    5px;
}
