.CBUIProcessStatus .overview {
    align-items: center;
    background-color: var(--CBUIBackgroundColor);
    box-sizing: border-box;
    display: flex;
    min-height: 44px;
    padding: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
