.CBPageKindLibraryViewEditor {
    font-size:  14px;
    padding:    10px;
}

.CBPageKindLibraryViewEditor .CBStringEditor {
    text-align: center;
}

.CBPageKindLibraryViewEditor .CBStringEditor input {
    margin-left:    5px;
    padding:        4px;
}
