.CBUIBooleanEditor {
    display: flex;
    align-items: center;

    cursor: default;
    flex: 1 1 auto;
    min-height: 44px;
    padding: 5px 10px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.CBUIBooleanEditor .label {
    flex: 1 1 auto;
}

.CBUIBooleanEditor .slider {
    align-items: center;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 14px;
    box-sizing: border-box;
    display: flex;
    flex: none;
    height: 28px;
    padding: 0 1px;
    width: 46px;
}

.CBUIBooleanEditor .slider.true {
    background-color: hsl(120, 50%, 50%);
    border: none;
    flex-direction: row-reverse;
    padding: 0 2px;
}

.CBUIBooleanEditor .button {
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    height: 24px;
    width: 24px;
}
