.CBArtworkCollectionView_imageContainer {
    box-sizing: border-box;
    padding: 20px;
}

.CBArtworkCollectionView_thumbnails {
    display: flex;
    flex-wrap: wrap;
}

.CBArtworkCollectionView_thumbnail {
    box-sizing: border-box;
    padding: 5px;
    width: 75px;
}



.CBArtworkCollectionView_theme1 .CBArtworkCollectionView_imageContainer {
    background-color: var(--CBBackgroundOffsetColor);
}
