.CBArtworkCollectionView_root_element
{
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    max-width: 100%;
    overflow-wrap: break-word;
}



.CBArtworkCollectionView_content_element
{
    max-width: 100%;
}




/**
 * @NOTE 2022_03_01
 *
 * Safari has a bug that will cause it to resize the img element when it's
 * clicked or scrolled or other unknown reasons. The work around is to apply
 * the aspect ratio to the picture element and make the image element have a
 * width and height of 100%.
 */



/**
 * @NOTE 2022_10_09_1665276574
 *
 *      This class has an aspect ratio because the images are added via
 *      JavaScript after load. The aspect ratio prevents a cumulative layout
 *      shift issue that Google will notice.
 */
.CBArtworkCollectionView_mainPictureContainer_element
{
    aspect-ratio:
    1/1;

    display:
    flex;

    justify-content:
    center;

    /**
     * The maximum image height and width is 640px plux 20px of padding = 680px
     */
    width:
    680px;

    max-width:
    100%;
}



.CBArtworkCollectionView_mainPicture_element
{
    display: block;
    aspect-ratio: 1/1;

    width: 640px;
    max-width: 100%;

    padding: 20px;
}



.CBArtworkCollectionView_mainPicture_element img
{
    width: 100%;
    height: 100%;

    object-fit: contain;
}



.CBArtworkCollectionView_thumbnailsContainer_element
{
    display: flex;
    flex-wrap: wrap;
}



.CBArtworkCollectionView_thumbnailPicture_element
{
    padding: 5px;
}



.CBArtworkCollectionView_thumbnailPicture_element img
{
    aspect-ratio: 1/1;
    object-fit: contain;

    max-width: 100%;
    width: 75px;
}
