.CB_CBView_MainHeader
{
    display:
    flex;

    justify-content:
    space-between;

    position:
    sticky;

    top:
    0;

    z-index:
    500;
}



.CB_CBView_MainHeader
a.CB_CBView_MainHeader_item:hover
{
    text-decoration:
    none;
}



.CB_CBView_MainHeader_group
{
    display:
    flex;
}



.CB_CBView_MainHeader_item
{
    color:
    inherit;

    display:
    flex;

    align-items:
    center;

    justify-content:
    center;

    height:
    44px;

    width:
    44px;

    text-decoration:
    none;
}



.CB_CBView_MainHeader_item:hover
{
    color:
    var(--CBTextColorForLinks);
}



.CB_CBView_MainHeader_icon
{
    font-size:
    18pt;

    line-height:
    44px;
}



.CB_CBView_MainHeader_websiteItem_element
img,
.CB_CBView_MainHeader_personItem_element
img
{
    border-color:
    var(--CB_UI_borderColor);

    border-radius:
    1000px;

    border-style:
    solid;

    border-width:
    1px;

    box-sizing:
    border-box;
}
