.CBUIImageChooser {
    box-sizing: border-box;
    flex: 1 1 auto;
    max-width: 100%;
}

.CBUIImageChooser > .container {
    display: flex;
    justify-content: center;
    height: 240px;
    padding: 10px 20px;
}

.CBUIImageChooser.thumbnail > .container {
    height: 120px;
    padding: 10px;
}

.CBUIImageChooser img {
    display: block;
    object-fit: contain;
    height: 240px;
    width: 100%;
}

.CBUIImageChooser.thumbnail img {
    height: 120px;
}

.CBUIImageChooser .caption {
    padding: 5px 10px;
    text-align: center;
}

.CBUIImageChooser .commands {
    color: hsl(30, 100%, 50%);
    color: var(--CBTextColorForLinks);
    display: flex;
    justify-content: center;
}

.CBUIImageChooser .commands > * {
    cursor: pointer;
    padding: 5px 10px;
}
