.CBImageViewEditor .background.dark {
    background-color: hsl(0, 0%, 20%);
}

.CBImageViewEditor .background img {
    display: block;
    margin: 0 auto;
    max-height: 200px;
    max-width: 100%;
}

.CBImageViewEditor .dimensions {
    align-items: center;
    color: #808080;
    display: flex;
    justify-content: center;
    min-height: 44px;
}
