.CBWellKnownThemeForPageTitleAndDescription {
  padding: 20px 20px 40px;
  text-align: center;
}

.CBWellKnownThemeForPageTitleAndDescription > h1 {
    font-size: 2em;
}

.CBWellKnownThemeForPageTitleAndDescription > div {
  margin: 20px auto 0;
}

.CBWellKnownThemeForPageTitleAndDescription > .description {
    color: var(--CBTextColor2);
    font-style: italic;
    line-height: 1.5;
    max-width: 480px;
}

.CBWellKnownThemeForPageTitleAndDescription > .published {
    color: var(--CBTextColor2);
    font-size: 80%;
    margin-top: 40px;
}

/* light text colors (deprecated, use theme classes) */

.CBWellKnownThemeForPageTitleAndDescription.light {
    color: hsla(0, 0%, 100%, 0.9); /* CBTextColor for CBDarkTheme */
}

.CBWellKnownThemeForPageTitleAndDescription.light > .description {
    color: hsla(0, 0%, 100%, 0.7); /* CBTextColor2 for CBDarkTheme */
}

.CBWellKnownThemeForPageTitleAndDescription.light > .published {
    color: hsla(0, 0%, 100%, 0.7); /* CBTextColor2 for CBDarkTheme */
}
