.CBWellKnownThemeForPageTitleAndDescription {
  padding: 20px 20px 40px;
  text-align: center;
}

.CBWellKnownThemeForPageTitleAndDescription > h1 {
    font-size: 2em;
}

.CBWellKnownThemeForPageTitleAndDescription > div {
  margin: 20px auto 0;
}

.CBWellKnownThemeForPageTitleAndDescription > .description {
  color: hsl(0, 0%, 40%);
  font-style: italic;
  line-height: 1.5;
  max-width: 480px;
}

.CBWellKnownThemeForPageTitleAndDescription > .published {
  color: hsl(0, 0%, 60%);
  margin-top: 40px;
}
