.CBClassMenuItemEditor {
    border-top: 4px solid hsl(0, 100%, 80%);
    font-size:  14px;
    padding:    5px 10px 10px;
}

.CBClassMenuItemEditor .CBStringEditor + .CBStringEditor {
    margin-top: 10px;
}

.CBClassMenuItemEditor .CBStringEditor input {
    padding:    4px;
    width:      100%;
}
