.CBView_CBSearchResults_result {
    padding: 20px;
}

.CBView_CBSearchResults_resultContent {
    display: flex;
    width: 800px;
}

.CBView_CBSearchResults_thumbnail {
    background-color: var(--CBBackgroundOffsetColor);
    box-sizing: border-box;
    max-width: 100%;
    padding: 10px;
}

.CBView_CBSearchResults_text {
    padding-left: 20px;
}

.CBView_CBSearchResults_text h3 {
    font-weight: normal;
}
