.CBView_CBSearchResults_result
{
    padding:
    20px;
}



.CBView_CBSearchResults_resultContent
{
    display:
    flex;

    width:
    800px;
}



.CBView_CBSearchResults_thumbnail
{
    flex:
    none;

    max-width:
    100%;

    width:
    150px;
}



.CBView_CBSearchResults_thumbnail
img
{
    background-color:
    var(--CB_UI_accentPaperColorGray);

    border:
    1px solid var(--CB_UI_borderColor);

    border-radius:
    5px;

    box-sizing:
    border-box;

    padding:
    5px;
}



.CBView_CBSearchResults_text
{
    padding-left:
    20px;
}



.CBView_CBSearchResults_text
h3
{
    font-weight:
    normal;
}
