.CBUINavigationArrowPart {
    align-items: center;
    color: hsla(0, 0%, 0%, 0.3); /* IE11 */
    color: var(--CBTextColor3);
    display: flex;
    flex: none;
    min-height: 44px;
    padding: 0 5px;
}

.CBUINavigationArrowPart::after {
    content: ">";
}
