.CBUINavigationArrowPart {
    align-items: center;
    color: var(--CBLineColor);
    display: flex;
    flex: none;
    min-height: 44px;
    padding: 0 5px;
}

.CBUINavigationArrowPart::after {
    content: ">";
}
