.ColbyInstaller {
    display: flex;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    justify-content: center;
    padding: 0 10px;
}

.ColbyInstaller > main {
    flex: 0 1 600px;
}

.ColbyInstaller code {
    color:          #8080c0;
    font-family:    "Menlo", "Courier New", monospace;
    font-size:      0.8em;
}

.ColbyInstaller dt {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.ColbyInstaller dd {
    margin-bottom: 1.0em;
    margin-left: 2.0em;
}

.ColbyInstaller h1,
.ColbyInstaller h2 {
    text-align: center;
}

.ColbyInstaller .exception {
    background-color: hsl(60, 100%, 90%);
    padding: 1px 10px;
}

.ColbyInstaller input {
    background-color: white;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    font: inherit;
    padding: 8px;
    width: 100%;
}

.ColbyInstaller .property label {
    color: hsl(0, 0%, 50%);
    display: block;
}

.ColbyInstaller .property + .property {
    margin-top: 1em;
}

.ColbyInstaller input[type=submit] {
    border-color: hsl(210, 100%, 60%);
    border-width: 2px;
    color: hsl(210, 100%, 50%);
    margin: 40px 0;
}
