.CBPagesTableSummaryView {
    box-sizing: border-box;
    padding: 20px 0;
    width: 320px;
}


.CBPagesTableSummaryView h1 {
    background-color: hsl(30, 50%, 90%);
    font-size: 1em;
    padding: 5px 10px;
}
.CBPagesTableSummaryView td, .CBPagesTableSummaryView th {
    padding: 2px 5px;
}

.CBPagesTableSummaryView td:last-child, .CBPagesTableSummaryView th:last-child {
    text-align: right;
}

.CBPagesTableSummaryView .nameset {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.CBPagesTableSummaryView .nameset + .nameset {
    border-top: 1px solid hsl(0, 0%, 80%);
}

.CBPagesTableSummaryView .nameset .classNameForKind {
    color: hsl(0, 0%, 60%);
}

@media all and (min-width: 480px) {
    .CBPagesTableSummaryView {
        padding: 20px;
        width: 480px;
    }

    .CBPagesTableSummaryView .nameset div > div {
        display: inline;
    }
}
