.CBPagesTableSummaryView {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.CBPagesTableSummaryView > div {
    background-color: var(--CBBackgroundColor);
    border: 1px solid var(--CBLineColor);
    border-radius: 5px;
}

.CBPagesTableSummaryView h1 {
    font-size: 1em;
    padding: 5px 10px;
    text-align: center;
}
.CBPagesTableSummaryView td, .CBPagesTableSummaryView th {
    padding: 2px 5px;
}

.CBPagesTableSummaryView td:last-child, .CBPagesTableSummaryView th:last-child {
    text-align: right;
}

.CBPagesTableSummaryView .nameset {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.CBPagesTableSummaryView .nameset .classNames {
    display: flex;
    flex-wrap: wrap;
}

.CBPagesTableSummaryView .nameset .data {
    padding: 5px 10px;
}

.CBPagesTableSummaryView .nameset .classNameForKind {
    color: var(--CBTextColor2);
}
