.CBContainerView {
    background-position: center top;
    background-repeat: no-repeat;
    display: block;

    /* 2021_07_15 see documentation */
}

a.CBContainerView {
    color: inherit;
    text-decoration: inherit;
}

.CBContainerView.noMinHeight {
    min-height: 0;
}

/* Keep below in sync with CBContainerView2.css
 */

.CBContainerView.flow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* The quad style is meant to be used on a full width container with no margins
 * or padding. Other uses will allow flex items to be reduced to less than 320px
 * wide.
 */

.CBContainerView.quad {
    display: flex;
    flex-wrap: wrap;
}

.CBContainerView.quad > * {
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 25%;
}

@media (max-width: 959px) {
    .CBContainerView.quad > * {
        width: 50%;
    }
}

@media (max-width: 639px) {
    .CBContainerView.quad > * {
        width: 100%;
    }
}
