.CBUISelectableItemContainer
{
    display:
    flex;

    justify-content:
    center;

    box-sizing:
    border-box;

    max-width:
    100%;

    padding:
    20px 10px;

    cursor:
    default;

    -webkit-user-select:
    none;

    -moz-user-select:
    none;

    -ms-user-select:
    none;

    user-select:
    none;
}



/**
 * @NOTE 2022_12_03_1670084859
 *
 * Do not add "overflow:hidden" to this element because it has header and footer
 * children with "position:sticky" which will not work if "overflow:hidden" is
 * set here.
 *
 * This also means the header and footer children will specify more information
 * about their borders than they usually would.
 *
 * Do not add "background-color" to this element because the header and footer
 * children need to specify the background color.
 */
.CBUISelectableItemContainer_container
{
    max-width:
    100%;

    width:
    720px;
}



.CBUISelectableItemContainer_header_element
{
    background-color:
    var(--CB_UI_accentPaperColorGray);

    border:
    1px solid var(--CB_UI_borderColor);

    border-top-left-radius:
    5px;

    border-top-right-radius:
    5px;

    display:
    flex;

    justify-content:
    space-between;

    min-height:
    44px;

    overflow:
    hidden;

    padding:
    0 5px;

    position:
    sticky;

    top:
    0;

    z-index:
    500;
}



.CBUISelectableItemContainer_header_element
.CBUIStringsPart
{
    color:
    var(--CBTextColor2);
}



.CBUISelectableItemContainer_header_element >
.commands
{
    display:
    flex;
}



.CBUISelectableItemContainer_header_element >
.commands >
.disabled
{
    display:
    none;
}



.CBUISelectableItemContainer_container >
.items
{
    background-color:
    var(--CB_UI_accentPaperColorGray);

    border-color:
    var(--CB_UI_borderColor);

    border-style:
    solid;

    border-width:
    0 1px;

    min-height:
    44px;
}



.CBUISelectableItemContainer_container >
.items >
* +
*
{
    border-top:
    1px solid var(--CB_UI_borderColor);
}



.CBUISelectableItemContainer_container >
.footer
{
    background-color:
    var(--CB_UI_accentPaperColorGray);

    display:
    flex;

    flex-wrap:
    wrap;

    justify-content:
    space-around;

    border:
    1px solid var(--CB_UI_borderColor);

    border-bottom-left-radius:
    5px;

    border-bottom-right-radius:
    5px;

    max-width:
    100%;

    min-height:
    44px;

    overflow:
    hidden;

    position:
    sticky;

    bottom:
    0;
}
