.SCShoppingCartView
{
    flex:
    1 1 auto;

    padding-bottom:
    100px;
}



.SCShoppingCartView_emptyCart
{
    padding-top:
    100px;
}



.SCShoppingCartView_proceedToCheckout_root_element
{
    box-sizing:
    border-box;

    display:
    flex;

    justify-content:
    center;

    max-width:
    100%;

    overflow-wrap:
    break-word;

    padding:
    20px;
}
