.CBTextBoxViewEditor > .section + .section {
    padding:    5px 0;
    text-align: center;
}

.CBTextBoxViewEditor > .section + .section {
    border-top:     1px solid hsl(0, 0%, 80%);
}

.CBTextBoxViewEditor .section .flexarea {
    align-items:                baseline;
    -webkit-align-items:        baseline;
    display:                    flex;
    display:                    -webkit-flex;
    flex-wrap:                  wrap;
    -webkit-flex-wrap:          wrap;
    justify-content:            space-around;
    -webkit-justify-content:    space-around;
    line-height:                2;
}

.CBTextBoxViewEditor .CBStringEditor.wide input {
    width: 400px;
}

.CBTextBoxViewEditor .CBStringEditor > input,
.CBTextBoxViewEditor .CBStringEditor > select {
    margin-left: 5px;
}

.CBTextBoxViewEditor .CBStringEditor > input,
.CBTextBoxViewEditor .CBStringEditor > textarea {
    padding:        4px;
}

.CBTextBoxViewEditor .CBStringEditor.extent > input {
    width:      50px;
}

.CBTextBoxViewEditor textarea {
    border:     1px solid hsl(0, 0%, 80%);
    height:     200px;
    width:      450px;
}
