.CBMenuView li a {
    /* ellipsis */
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * CBMenuView_default
 */

.CBMenuView_default {
    background-color: var(--CB_UI_paperColor);
    box-sizing: border-box;
    max-width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.CBMenuView_default > .menu_items {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.CBMenuView_default > .menu_items > .container {
    display: flex;
    max-width: 100%;
}

.CBMenuView_default > .menu_items div.title {
    display: none;
}

.CBMenuView_default ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 100%;
    padding: 0;
    width: 980px;
}

.CBMenuView_default li {
    padding: 0 5px;
}

.CBMenuView_default .selected {
    color: var(--CBTextColor2);
}

.CBMenuView_default a {
    color: inherit;
    line-height: 44px;
    text-decoration: none;
}

.CBMenuView_default a:hover {
    color: var(--CBTextColorForLinks);
}

@media (min-width: 737px) {
    .CBMenuView_default > .menu_header {
        display: none;
    }

    .CBMenuView_default.few ul {
        justify-content: center;
    }

    .CBMenuView_default li {
        font-size: 14px;
    }

    .CBMenuView_default.few li {
        padding: 0 20px;
    }
}

@media (max-width: 736px) {
    .CBMenuView_default .menu_items {
        display: none;
    }

    .CBMenuView_default.open {
        position: fixed;
        top: 0;

        height: 100%;
        width: 100%;

        z-index: 1000;

        display: flex;
        flex-direction: column;
    }

    .CBMenuView_default.open .CBMenuView_header {
        flex: none;
    }

    .CBMenuView_default.open .menu_items {
        display: block;

        overflow: scroll;
        overscroll-behavior: contain;
    }

    .CBMenuView_default > .menu_header {
        display: flex;
    }

    .CBMenuView_default > .menu_header > * {
        line-height: 44px;
        padding: 0 10px;
    }

    .CBMenuView_default > .menu_header .left .title,
    .CBMenuView_default > .menu_items li.title {
        display: none;
    }

    .CBMenuView_default > .menu_header .left,
    .CBMenuView_default > .menu_header .right {
        flex: 1 1 1px;
    }

    .CBMenuView_default > .menu_header .left {
        cursor: pointer;
    }

    .CBMenuView_default > .menu_header .left::before {
        content: "\2630"; /* hamburger menu character */
    }

    .CBMenuView_default > .menu_items ul {
        border-bottom: 1px solid var(--CBTextColor3);
        display: block;
    }

    .CBMenuView_default > .menu_items li {
        border-top: 1px solid var(--CBTextColor3);
    }
}

/**
 * CBMenuView_submenu1
 */

.CBMenuView_submenu1 {
    background-color: var(--CB_UI_paperColor);
    box-sizing: border-box;
    max-width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.CBMenuView_submenu1 > .menu_header {
    display: none;
}

.CBMenuView_submenu1 > .menu_items {
    display: flex;
    justify-content: center;
}

.CBMenuView_submenu1 ul {
    list-style: none;
    padding: 0;
}

.CBMenuView_submenu1 li {
    padding: 0 5px;
}

.CBMenuView_submenu1 .selected {
    color: var(--CBTextColorForLinks);
}

.CBMenuView_submenu1 a {
    color: inherit;
    text-decoration: none;
}

.CBMenuView_submenu1 .menu_items a {
    line-height: 44px;
}

.CBMenuView_submenu1 a:hover {
    color: var(--CBTextColorForLinks);
}

@media (min-width: 737px) {
    .CBMenuView_submenu1 .menu_items {
        padding: 0 20px;
    }

    .CBMenuView_submenu1 .container {
        border-bottom: 1px solid var(--CBTextColor3);
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        width: 960px;
    }

    .CBMenuView_submenu1 > .menu_items div.title {
        font-size: 120%;
        line-height: 52px;
    }

    .CBMenuView_submenu1 > .menu_items li.title {
        display: none;
    }

    .CBMenuView_submenu1 ul {
        display: flex;
        padding-top: 8px;
    }

    .CBMenuView_submenu1 li {
        font-size: 14px;
        list-style-type: none;
    }

    .CBMenuView_submenu1 li + li {
        margin-left: 30px;
    }
}

@media (max-width: 736px) {
    .CBMenuView_submenu1 {
        border-bottom: 1px solid var(--CBTextColor3);
    }

    .CBMenuView_submenu1 > .menu_header {
        display: flex;
    }

    .CBMenuView_submenu1 > .menu_header > * {
        line-height: 44px;
    }

    .CBMenuView_submenu1 > .menu_header .center .title {
        display: none;
    }

    .CBMenuView_submenu1 > .menu_header > .left,
    .CBMenuView_submenu1 > .menu_header > .right {
        flex: 1 1 1px;
        padding: 0 10px;
    }

    .CBMenuView_submenu1 > .menu_header > .right {
        text-align: right;
    }

    .CBMenuView_submenu1 > .menu_header > .center {
        cursor: pointer;
        padding: 0 30px;
    }

    .CBMenuView_submenu1 > .menu_header > .center::before {
        content: "\2630"; /* hamburger menu character */
    }

    .CBMenuView_submenu1 > .menu_items {
        display: none;
    }

    .CBMenuView_submenu1.open > .menu_items {
        display: block;
    }

    .CBMenuView_submenu1 .menu_items .title {
        display: none;
    }

    .CBMenuView_submenu1 ul {
        display: block;
    }

    .CBMenuView_submenu1 li {
        padding: 0 10px;
    }
}

/**
 * CBMenuView_list1
 *
 * This style is used to display a menu as a list for use in situations such as
 * displaying multiple menus in a footer view.
 */

.CBMenuView_list1 {
    /* CBView root element declarations */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 20px;

    /* other declarations */
    font-size: 0.9em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.CBMenuView_list1 .CBMenuView_items {
    /* CBView content element declarations */
    max-width: 100%;
    width: 100vw;
}

.CBMenuView_list1 a {
    text-decoration: none;
}

.CBMenuView_list1 a:hover {
    text-decoration: underline;
}

.CBMenuView_list1 ul {
    list-style: none;
    padding: 0;
}

.CBMenuView_list1 li {
    line-height: 44px;
    padding: 0;
}

.CBMenuView_list1 .CBMenuView_header,
.CBMenuView_list1 .CBMenuView_containerTitle {
    display: none;
}

.CBMenuView_list1 .CBMenuView_listItemTitle a {
    color: inherit;
    border-bottom: 1px solid var(--CBTextColor3);
}

.CBMenuView_list1 .CBMenuView_listItemTitle a:hover {
    text-decoration: none;
}



/**
 * CBMenuView_list2
 *
 * This style is meant to show menus appropriately for a sidebar (think mobile
 * phone menu) specifically the Colby sidebars. This style will be altered and
 * change over time to support the goal of working best in the sidebars.
 */

.CBMenuView_list2 {
    box-sizing: border-box;
    max-width: 100%;
    padding: 20px;

    font-size: 0.9em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.CBMenuView_list2 .CBMenuView_items {
    max-width: 100%;
}

.CBMenuView.CBMenuView_list2 li a {
    text-decoration: none;
    white-space: normal;
}

.CBMenuView_list2 a:hover {
    text-decoration: underline;
}

.CBMenuView_list2 ul {
    list-style: none;
    padding: 0;
}

.CBMenuView_list2 li {
    padding: 0 0 10px;
}

.CBMenuView_list2 .CBMenuView_header,
.CBMenuView_list2 .CBMenuView_containerTitle {
    display: none;
}

.CBMenuView_list2 .CBMenuView_listItemTitle a {
    color: inherit;
}

.CBMenuView_list2 .CBMenuView_listItemTitle a:hover {
    text-decoration: none;
}



/* -- CBMenuView_listOfOnlyItems -- -- -- -- -- */

.CBMenuView_listOfOnlyItems .CBMenuView_containerTitle,
.CBMenuView_listOfOnlyItems .CBMenuView_header,
.CBMenuView_listOfOnlyItems .CBMenuView_listItemTitle {
    display: none;
}

.CBMenuView_listOfOnlyItems ul {
    list-style: none;
    padding: 0;
}
